---
layout: default
---

<!-- TAMBAHAN UNTUK HIJR CALENDER -->
<div class="tocContainer" style="display:block" border="0">
<script>
	$(document).ready(function(){
		//$("#rtc").click(function(){
		hdte = writeIslamicDate(); //+' :: '+writeIslamicDate(-1);
		//document.getElementById('hcal1').innerHTML += writeIslamicDate(-1);
		document.getElementById('hcal').innerHTML = 'Today : '+hdte+'   /   '+harini();
	});

</script>
<div id="hcal" onclick="harini(0)"></div>
</div>
<!-- END - TAMBAHAN UNTUK HIJR CALENDER -->

<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> | {{post.categories}}</time> 
	  	<p>{{ post.content | strip_html | truncatewords:45 }}</p>
	  </li>

    {% endfor %}

</ul>

