<footer><span>@2018 -  <a href="{{ site.url }}/">IkhwanElyas</a> | <a href="https://github.com/abuisa/abuisa.github.io" target="_blank">github</a> </span> | <a href="https://abuisa.github.io/qweb/" target="_blank">AyatPilihan</a>
</footer>


<!-- original script :
| <a href="https://ikhwanelyas.blogspot.co.id/" target="_blank">Blog</a>
<footer><span>@2017 -  <a href="{{ site.baseurl }}/">IkhwanElyas</a> | <a href="https://github.com/abuisa/abuisa.github.io" target="_blank">github</a> </span> | <a href="https://ikhwanelyas.blogspot.co.id/" target="_blank">Blog</a>
</footer>
-->
