<html>
<body>
<script>
	function openInNewTab() {
		var nor = document.getElementById("nomor").value;
		var url = "http://ieeexplore.ieee.org.sci-hub.io/xpl/articleDetails.jsp?arnumber=" + nor;
		var win = window.open(url, '_blank');
		win.focus();
		//alert(url); //untuk tes doang
	}
</script>
Nomor : <input type="text" id="nomor" value=""> &nbsp; <button onclick="openInNewTab()">Open and Download</button>

<p>Input/Paste nomor yang di copy dari <a href="http://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank">ieeexplore.ieee.org</a>, dan click <i>"Open and Download"</i> untuk membuka dan mendownloadnya, tips ini didapat dari <a href="http://www.hackzhub.com/how-to-download-ieee-papers-from-ieeexplore-website-for-free/" target="_blank">hackhub.com</a>.</p>


</body>
</html>

