<html>
<body>
<script>
	window.onload = function(){ 
	    //alert("TES PESAN-PESAN, Hello! I am an alert box!");

		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
			//document.getElementById("jd").innerHTML = "<b>---Hello SmartPhone---</b>";
			//zoom();
			var d1 = document.getElementById('pertama');
			var d2 = document.getElementById('tengah');
			var d3 = document.getElementById('kedua');
			d1.removeAttribute("class")
			d2.removeAttribute("class")
			d3.removeAttribute("class")
		}
	};
</script>
</body>
</html>

