<style type="text/css">
        .table {
            display: table;
        }

        .row {
            display: table-row;
        }

        .column {
            display: table-cell;
            vertical-align: top;
        }
    </style>
    
<div>
  <div>
	<div>1. </div>
	<div>Automated malware detection using artifacts in forensic memory images </div>
	<div>Rui Li, Bo Yuan dkk. </div>
	<div> Malware is one of the greatest and most rapidly growing threats to the digital world. </div>
	<div>Our approach is a reactive one, in that it detects malware that is already on the system. </div>
	<div> </div>
  </div>
  <div>
	<div>2. </div>
	<div>Classification of Malware Families Based on N-grams Sequential Pattern Features </div>
	<div>Chatchai L., Ohm Sornil </div>
	<div>Malware family identification is a complex process involving extraction of distinctive characteristics  </div>
	<div>Features are created in 4 major steps: n-gram extraction,</div>
	<div> </div>
  </div>
</div>
