
<a href="#" id="rtc">Column</a>&nbsp;|&nbsp;
<a href="#" id="ctr">Rows</a>&nbsp;|&nbsp;

<a href="#" onclick="rowtc()">JF-Column</a>&nbsp;|&nbsp;
<a href="#" onclick="ctrow()">JF-Rows</a>&nbsp;|&nbsp;

<div class="table">
  <div class="row" id="hdr">
	<div class="no">No. </div>
	<div class="jdpdf">JUDUL  </div>
	<div class="np">PENULIS  </div>
	<div class="abmet">ABSTRAK </div>
	<div class="abmet">METODE</div>
	<div class="jdpdf">FILE </div>
  </div>

   <div class="row">
	<div  class="column"><b class="hd">NO :		</b>1. </div>
	<div  class="column"><b class="hd">JUDUL :	</b> Judul 1  </div>
	<div  class="column"><b class="hd">PENULIS :	</b> Penulis 1 </div>
	<div  class="column"><b class="hd">ABSTRAK :	</b> Abstrak 1 </div>
	<div  class="column"><b class="hd">METODE :	</b> Metode 1 </div>
	<div  class="column"><b class="hd">FILE :	</b> File 1 </div>
  </div>
  <div class="row">
	<div  class="column"><b class="hd">NO :		</b>2. </div>
	<div  class="column"><b class="hd">JUDUL :	</b> Judul 2  </div>
	<div  class="column"><b class="hd">PENULIS :	</b> Penulis 2 </div>
	<div  class="column"><b class="hd">ABSTRAK :	</b> Abstrak 2 </div>
	<div  class="column"><b class="hd">METODE :	</b> Metode 2 </div>
	<div  class="column"><b class="hd">FILE :	</b> File 2 </div>
  </div>
  <div class="row">
	<div  class="column"><b class="hd">NO :		</b>3. </div>
	<div  class="column"><b class="hd">JUDUL :	</b> Judul 3  </div>
	<div  class="column"><b class="hd">PENULIS :	</b> Penulis 3 </div>
	<div  class="column"><b class="hd">ABSTRAK :	</b> Abstrak 3 </div>
	<div  class="column"><b class="hd">METODE :	</b> Metode 3 </div>
	<div  class="column"><b class="hd">FILE :	</b> File 3 </div>
  </div>
</div>

<br>


<script>
function ctrow(){
    	//--- Ganti class --columnx-- dengan class --column--
    	$(".column").addClass('columnb');
    	//--- Hapus class --columnx-- yang terdapat pada semua --div--
		$("div").removeClass("column");
		//--- Ubah class --row-- menjadi --rowb--
		//--- Show Garis Pembatas ------------
		$(".row").addClass('rowb');
		$(".row").removeClass("row");
		//--- Hide Head of Column
		$("#hdr").hide();

		//--- Show Sub Judul ------			
		$(".hd").addClass('hds');
		$(".hd").removeClass("hd");
}
function rowtc(){
	    //--- Ganti class --columnx-- dengan class --column--
    	$(".columnb").addClass('column');
    	//--- Hapus class --columnx-- yang terdapat pada semua --div--
		$("div").removeClass("columnb");
		//--- Ubah class --row-- menjadi --rowb--
		//--- Show Garis Pembatas ------------
		$(".rowb").addClass('row');
		$(".rowb").removeClass("rowb");
		//--- Show Head of column ----
		$("#hdr").show();

		//--- Hide sub judul ----
		$(".hds").addClass('hd');
		$(".hds").removeClass("hds");
}

$(document).ready(function(){
    $("#rtc").click(function(){
    	//--- Ganti class --columnx-- dengan class --column--
    	$(".columnb").addClass('column');
    	//--- Hapus class --columnx-- yang terdapat pada semua --div--
		$("div").removeClass("columnb");
		//--- Ubah class --row-- menjadi --rowb--
		//--- Show Garis Pembatas ------------
		$(".rowb").addClass('row');
		$(".rowb").removeClass("rowb");
		//--- Show Head of column ----
		$("#hdr").show();

		//--- Hide sub judul ----
		$(".hds").addClass('hd');
		$(".hds").removeClass("hds");		
    });

    $("#ctr").click(function(){
    	//--- Ganti class --columnx-- dengan class --column--
    	$(".column").addClass('columnb');
    	//--- Hapus class --columnx-- yang terdapat pada semua --div--
		$("div").removeClass("column");
		//--- Ubah class --row-- menjadi --rowb--
		//--- Show Garis Pembatas ------------
		$(".row").addClass('rowb');
		$(".row").removeClass("row");
		//--- Hide Head of Column
		$("#hdr").hide();

		//--- Show Sub Judul ------			
		$(".hd").addClass('hds');
		$(".hd").removeClass("hd");
    });	

});
</script>

