
<table>
  <tr>
	<th>No.</th>
	<th>Penulis</th>
	<th>Abstrak</th>
	<th>Metode</th>
	<th>File</th>
  </tr>
  <tr>
	<td>1 </td>
	<td>Rui Li, Bo Yuan dkk. </td>
	<td> Malware is one of the greatest and most rapidly growing threats to the digital world. Traditional signature-based detection is no longer adequate to detect new variants and highly targeted malware. Furthermore, dynamic detection is often circumvented with anti-VM and/or anti-debugger techniques.
Recently heuristic approaches have been explored to enhance detection accuracy while maintaining the generality of a model to detect unknown malware samples. In this paper, we investigate three feature types extracted from memory images – registry activity, imported libraries, and API function calls. After evaluating the importance of the different features, different machine learning techniques are implemented to compare performances of malware detection using the three feature types, respectively.
The highest accuracy achieved was 96%, and was reached using a support vector machine model, fitted on data extracted from registry activity.</td>
	<td>Our approach is a reactive one, in that it detects malware that is already on the system. There are several use cases for such an approach. First, anti-virus software will fail with unknown malware; therefore, applying our model on a memory image will either confirm or dispute an AV’s claim of a clean system. Second, forensic investigators may find this approach useful when searching for malware in memory images. As stated in [28], ”Analysts of the real world are often constrained by budgets and billable hours”; therefore, automating the process of malware detection might save forensic investigators time when analyzing memory images. Once the models are trained, artifacts can be extracted from a memory image using Volatility [15], and used to apply the model on. </td>
	<td> </td>
  </tr>

  <tr>
	<td> </td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td> </td>
  </tr>
  <tr>
	<td> </td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td> </td>
  </tr>
</table>
<pre>
</pre>
