<html>
<body>

<table>
<tr>
<th>Hex Signature</th>
<th>&nbsp; &nbsp;</th>
<th align="left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ASCII Signature</th></tr>
<tr>
<th align="right" valign="top">File Extension</th>
<th>&nbsp;</th>
<th align="left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;File Description<br><br></th>
</tr>

<tr>
<td align="right" valign="top">TGA</td>
<td>&nbsp;</td>
<td>Truevision Targa Graphic file<br>
<b>Trailer:</b><br>
<font face="courier">54 52 55 45 56 49 53 49 &nbsp; TRUEVISI</font><br>
<font face="courier">4F 4E 2D 58 46 49 4C 45 &nbsp; ON-XFILE</font><br>
<font face="courier">2E 00 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ..</font><br><br></td>
</tr>

<tr>
<td><font face="courier">00</font></td>
<td>&nbsp;</td>
<td><font face="courier">.</font></td></tr>
<tr>
<td align="right" valign="top">PIC</td>
<td>&nbsp;</td>
<td>IBM Storyboard bitmap file</td>
</tr>
<tr>
<td align="right" valign="top">MOV</td>
<td>&nbsp;</td>
<td>Apple QuickTime movie file</td>
</tr>
<tr>
<td align="right" valign="top">PIF</td>
<td>&nbsp;</td>
<td>Windows Program Information File</td>
</tr>
<tr>
<td align="right" valign="top">SEA</td>
<td>&nbsp;</td>
<td>Mac Stuffit Self-Extracting Archive</td>
</tr>
<tr>
<td align="right" valign="top">YTR</td>
<td>&nbsp;</td>
<td>IRIS OCR data file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 00 00 00 00 00<br>
00 00 00 00 00 00 00 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">........<br>
........</font></td></tr>
<tr>
<td align="right" valign="top">XXX</td>
<td>&nbsp;</td>
<td>Compucon/Singer embroidery design file<br><br></td>
</tr>

<tr>
<td><font face="courier">[11 byte offset]<br>
00 00 00 00 00 00 00 00<br>
00 00 00 00 00 00 00 00<br>
00 00 00 00 00 00 00 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">[11 byte offset]<br>
........<br>
........<br>
........</font></td></tr>
<tr>
<td align="right" valign="top">PDB</td>
<td>&nbsp;</td>
<td>Palmpilot Database/Document File<br><br></td>
</tr>

<tr>
<td><font face="courier">[512 (0x200) byte offset]<br>
00 00 00 00 00 00 00 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">[512 (0x200) byte offset]<br>
........</font></td></tr>
<tr>
<td align="right" valign="top">RVT</td>
<td>&nbsp;</td>
<td>Revit Project File subheader<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 00 14 00 00 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">........</font></td></tr>
<tr>
<td align="right" valign="top">TBI</td>
<td>&nbsp;</td>
<td>Windows Disk Image file<br><br></td>
</tr>

<tr>
<td><font face="courier">[8 byte offset]<br>
00 00 00 00 62 31 05 00<br>
09 00 00 00 00 20 00 00<br>
00 09 00 00 00 00 00 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">[8 byte offset]<br>
....b1..<br>
..... ..<br>
........</font></td></tr>
<tr>
<td align="right" valign="top">DAT</td>
<td>&nbsp;</td>
<td>Bitcoin Core wallet.dat file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 0C 6A 50 20 20<br>
0D 0A</font></td>
<td>&nbsp;</td>
<td><font face="courier">....jP  <br>
..</font></td></tr>
<tr>
<td align="right" valign="top">JP2</td>
<td>&nbsp;</td>
<td>Various JPEG-2000 image file formats<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 14 66 74 79 70<br>
33 67 70</font></td>
<td>&nbsp;</td>
<td><font face="courier">....ftyp<br>
3gp</font></td></tr>
<tr>
<td align="right" valign="top">3GG, 3GP, 3G2</td>
<td>&nbsp;</td>
<td>3rd Generation Partnership Project 3GPP multimedia files<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 14 66 74 79 70<br>
69 73 6F 6D</font></td>
<td>&nbsp;</td>
<td><font face="courier">....ftyp<br>
isom</font></td></tr>
<tr>
<td align="right" valign="top">MP4</td>
<td>&nbsp;</td>
<td>ISO Base Media file (MPEG-4) v1<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 14 66 74 79 70<br>
71 74 20 20</font></td>
<td>&nbsp;</td>
<td><font face="courier">....ftyp<br>
qt  </font></td></tr>
<tr>
<td align="right" valign="top">MOV</td>
<td>&nbsp;</td>
<td>QuickTime movie file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 18 66 74 79 70<br>
33 67 70 35</font></td>
<td>&nbsp;</td>
<td><font face="courier">....ftyp<br>
3gp5</font></td></tr>
<tr>
<td align="right" valign="top">MP4</td>
<td>&nbsp;</td>
<td>MPEG-4 video files<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 18 66 74 79 70<br>
6D 70 34 32</font></td>
<td>&nbsp;</td>
<td><font face="courier">....ftyp<br>
mp42</font></td></tr>
<tr>
<td align="right" valign="top">M4V</td>
<td>&nbsp;</td>
<td>MPEG-4 video/QuickTime file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 1C 66 74 79 70<br>
4D 53 4E 56 01 29 00 46<br>
4D 53 4E 56 6D 70 34 32</font></td>
<td>&nbsp;</td>
<td><font face="courier">....ftyp<br>
MSNV.).F<br>
MSNVmp42</font></td></tr>
<tr>
<td align="right" valign="top">MP4</td>
<td>&nbsp;</td>
<td>MPEG-4 video file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 20 66 74 79 70<br>
33 67 70</font></td>
<td>&nbsp;</td>
<td><font face="courier">....ftyp<br>
3gp</font></td></tr>
<tr>
<td align="right" valign="top">3GG, 3GP, 3G2</td>
<td>&nbsp;</td>
<td>3rd Generation Partnership Project 3GPP2 multimedia files<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 00 20 66 74 79 70<br>
4D 34 41 20</font></td>
<td>&nbsp;</td>
<td><font face="courier">... ftyp<br>
M4A </font></td></tr>
<tr>
<td align="right" valign="top">M4A</td>
<td>&nbsp;</td>
<td>Apple Lossless Audio Codec file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 01 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">....</font></td></tr>
<tr>
<td align="right" valign="top">ICO</td>
<td>&nbsp;</td>
<td>Windows icon file</td>
</tr>
<tr>
<td align="right" valign="top">SPL</td>
<td>&nbsp;</td>
<td>Windows NT/2000/XP printer spool file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 01 Bx</font></td>
<td>&nbsp;</td>
<td><font face="courier">....</font></td></tr>
<tr>
<td align="right" valign="top">MPEG, MPG</td>
<td>&nbsp;</td>
<td>MPEG video file<br>
<b>Trailer:</b><br>
<font face="courier">00 00 01 B7</font> (<font face="courier">...&#xB7;</font>)<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 01 BA</font></td>
<td>&nbsp;</td>
<td><font face="courier">....&#xBA;</font></td></tr>
<tr>
<td align="right" valign="top">MPG, VOB</td>
<td>&nbsp;</td>
<td>DVD Video Movie File (video/dvd, video/mpeg) or DVD MPEG2<br>
<b>Trailer:</b><br>
<font face="courier">00 00 01 B9</font> (<font face="courier">...&#xb9;</font>)<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 02 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">......  </font></td></tr>
<tr>
<td align="right" valign="top">CUR</td>
<td>&nbsp;</td>
<td>Windows cursor file</td>
</tr>
<tr>
<td align="right" valign="top">WB2</td>
<td>&nbsp;</td>
<td>QuattroPro for Windows Spreadsheet file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 02 00 06 04 06 00<br>
08 00 00 00 00 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">........<br>
......</font></td></tr>
<tr>
<td align="right" valign="top">WK1</td>
<td>&nbsp;</td>
<td>Lotus 1-2-3 spreadsheet (v1) file<br><br></td>
</tr>

<!-- NEW -->
<tr>
<td><font face="courier">00 00 03 F3</font></td>
<td>&nbsp;</td>
<td><font face="courier">...&#xF3;</font></td></tr>
<tr>
<td align="right" valign="top">n/a</td>
<td>&nbsp;</td>
<td>Amiga <a href="https://en.wikipedia.org/wiki/Amiga_Hunk" target="_blank"> Hunk</a> executable file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 1A 00 00 10 04 00<br>
00 00 00 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">........<br>
....</font></td></tr>
<tr>
<td align="right" valign="top">WK3</td>
<td>&nbsp;</td>
<td>Lotus 1-2-3 spreadsheet (v3) file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 1A 00 02 10 04 00<br>
00 00 00 00</font></td>
<td>&nbsp;</td>
<td><font face="courier">........<br>
....</font></td></tr>
<tr>
<td align="right" valign="top">WK4, WK5</td>
<td>&nbsp;</td>
<td>Lotus 1-2-3 spreadsheet (v4, v5) file<br><br></td>
</tr>

<tr>
<td><font face="courier">00 00 1A 00 05 10 04
</font></td>
<td>&nbsp;</td>
<td><font face="courier">.......</font></td></tr>
<tr>
<td align="right" valign="top">123</td>
<td>&nbsp;</td>
<td>Lotus 1-2-3 spreadsheet (v9) file<br><br></td>
</tr>

</table>
</body>
</html>
