     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=736C6821&mode=SIG">73 6C 68 21 </a></span></td>
            <td width="274">Allegro Generic Packfile (compressed)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=736C682E&mode=SIG">73 6C 68 2E </a></span></td>
            <td width="274">Allegro Generic Packfile (uncompressed)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=415647365F496E74&mode=SIG">41 56 47 36 5F 49 6E 74 </a></span></td>
            <td width="274">AVG6 Integrity database</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=03&mode=SIG">03 </a></span></td>
            <td width="274">MapInfo Native Data Format</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4552465353415645&mode=SIG">45 52 46 53 53 41 56 45 </a></span></td>
            <td width="274">EasyRecovery Saved State file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=436C69656E742055&mode=SIG">43 6C 69 65 6E 74 20 55 </a></span></td>
            <td width="274">IE History file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=496E6E6F20536574&mode=SIG">49 6E 6E 6F 20 53 65 74 </a></span></td>
            <td width="274">Inno Setup Uninstall Log</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504E4349554E444F&mode=SIG">50 4E 43 49 55 4E 44 4F </a></span></td>
            <td width="274">Norton Disk Doctor undo file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=50455354&mode=SIG">50 45 53 54 </a></span></td>
            <td width="274">PestPatrol data|scan strings</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A52545320434F4D&mode=SIG">1A 52 54 53 20 43 4F 4D </a></span></td>
            <td width="274">Runtime Software disk image</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52415A4154444231&mode=SIG">52 41 5A 41 54 44 42 31 </a></span></td>
            <td width="274">Shareaza (P2P) thumbnail</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4E41565452414646&mode=SIG">4E 41 56 54 52 41 46 46 </a></span></td>
            <td width="274">TomTom traffic data</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=55464F4F72626974&mode=SIG">55 46 4F 4F 72 62 69 74 </a></span></td>
            <td width="274">UFO Capture map file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=574D4D50&mode=SIG">57 4D 4D 50 </a></span></td>
            <td width="274">Walkman MP3 file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=43524547&mode=SIG">43 52 45 47 </a></span></td>
            <td width="274">Win9x registry hive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=72656766&mode=SIG">72 65 67 66 </a></span></td>
            <td width="274">WinNT registry file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DB&mode=EXT">DB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">MSWorks database file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DB&mode=EXT">DB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=08&mode=SIG">08 </a></span></td>
            <td width="274">dBASE IV or dBFast configuration file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DB&mode=EXT">DB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0006156100000002000004D200001000&mode=SIG">00 06 15 61 00 00 00 02 00 00 04 D2 00 00 10 00 </a></span></td>
            <td width="274">Netscape Navigator (v4) database</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DB&mode=EXT">DB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=44424648&mode=SIG">44 42 46 48 </a></span></td>
            <td width="274">Palm Zire photo database</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DB&mode=EXT">DB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=53514C69746520666F726D6174203300&mode=SIG">53 51 4C 69 74 65 20 66 6F 72 6D 61 74 20 33 00 </a></span></td>
            <td width="274">SQLite database file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DB&mode=EXT">DB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FDFFFFFF&mode=SIG">FD FF FF FF </a></span></td>
            <td width="274">Thumbs.db subheader</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DB3&mode=EXT">DB3</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=03&mode=SIG">03 </a></span></td>
            <td width="274">dBASE III file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DB4&mode=EXT">DB4</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=04&mode=SIG">04 </a></span></td>
            <td width="274">dBASE IV file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DBA&mode=EXT">DBA</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=00014244&mode=SIG">00 01 42 44 </a></span></td>
            <td width="274">Palm DateBook Archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DBB&mode=EXT">DBB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=6C33336C&mode=SIG">6C 33 33 6C </a></span></td>
            <td width="274">Skype user data file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DBF&mode=EXT">DBF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4F504C4461746162&mode=SIG">4F 50 4C 44 61 74 61 62 </a></span></td>
            <td width="274">Psion Series 3 Database</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DBX&mode=EXT">DBX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=CFAD12FE&mode=SIG">CF AD 12 FE </a></span></td>
            <td width="274">Outlook Express e-mail folder</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DCI&mode=EXT">DCI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3C21646F63747970&mode=SIG">3C 21 64 6F 63 74 79 70 </a></span></td>
            <td width="274">AOL HTML mail</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DCX&mode=EXT">DCX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=B168DE3A&mode=SIG">B1 68 DE 3A </a></span></td>
            <td width="274">PCX bitmap</td>
          </tr>
                  </table>
      </center>
