     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AST&mode=EXT">AST</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5343486C&mode=SIG">53 43 48 6C </a></span></td>
            <td width="274">Underground Audio</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ASX&mode=EXT">ASX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3C&mode=SIG">3C </a></span></td>
            <td width="274">Advanced Stream Redirector</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AU&mode=EXT">AU</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=646E732E&mode=SIG">64 6E 73 2E </a></span></td>
            <td width="274">Audacity audio file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AU&mode=EXT">AU</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2E736E64&mode=SIG">2E 73 6E 64 </a></span></td>
            <td width="274">NeXT|Sun Microsystems audio file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AUT&mode=EXT">AUT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D42A&mode=SIG">D4 2A </a></span></td>
            <td width="274">AOL history|typed URL files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AVI&mode=EXT">AVI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Resource Interchange File Format</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AW&mode=EXT">AW</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=8A0109000000E108&mode=SIG">8A 01 09 00 00 00 E1 08 </a></span></td>
            <td width="274">MS Answer Wizard</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AX&mode=EXT">AX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A900003000000&mode=SIG">4D 5A 90 00 03 00 00 00 </a></span></td>
            <td width="274">DirectShow filter</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AX&mode=EXT">AX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Library cache file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=BAG&mode=EXT">BAG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C2046656564&mode=SIG">41 4F 4C 20 46 65 65 64 </a></span></td>
            <td width="274">AOL and AIM buddy list</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=BAG&mode=EXT">BAG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=BDR&mode=EXT">BDR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5854&mode=SIG">58 54 </a></span></td>
            <td width="274">MS Publisher</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=BIN&mode=EXT">BIN</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=424C4932323351&mode=SIG">42 4C 49 32 32 33 51 </a></span></td>
            <td width="274">Speedtouch router firmware</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=BMP&mode=EXT">BMP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=424D&mode=SIG">42 4D </a></span></td>
            <td width="274">Bitmap image</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=BZ2&mode=EXT">BZ2</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=425A68&mode=SIG">42 5A 68 </a></span></td>
            <td width="274">bzip2 compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAB&mode=EXT">CAB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=49536328&mode=SIG">49 53 63 28 </a></span></td>
            <td width="274">Install Shield compressed file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAB&mode=EXT">CAB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D534346&mode=SIG">4D 53 43 46 </a></span></td>
            <td width="274">Microsoft cabinet file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAL&mode=EXT">CAL</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=737263646F636964&mode=SIG">73 72 63 64 6F 63 69 64 </a></span></td>
            <td width="274">CALS raster bitmap</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAL&mode=EXT">CAL</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=537570657243616C&mode=SIG">53 75 70 65 72 43 61 6C </a></span></td>
            <td width="274">SuperCalc worksheet</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAL&mode=EXT">CAL</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=B5A2B0B3B3B0A5B5&mode=SIG">B5 A2 B0 B3 B3 B0 A5 B5 </a></span></td>
            <td width="274">Windows calendar</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAP&mode=EXT">CAP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=58435000&mode=SIG">58 43 50 00 </a></span></td>
            <td width="274">Packet sniffer files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAP&mode=EXT">CAP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52545353&mode=SIG">52 54 53 53 </a></span></td>
            <td width="274">WinNT Netmon capture file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAS&mode=EXT">CAS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5F434153455F&mode=SIG">5F 43 41 53 45 5F </a></span></td>
            <td width="274">EnCase case file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CAT&mode=EXT">CAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=30&mode=SIG">30 </a></span></td>
            <td width="274">MS security catalog file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CBD&mode=EXT">CBD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=434246494C45&mode=SIG">43 42 46 49 4C 45 </a></span></td>
            <td width="274">WordPerfect dictionary</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CBK&mode=EXT">CBK</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5F434153455F&mode=SIG">5F 43 41 53 45 5F </a></span></td>
            <td width="274">EnCase case file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CDA&mode=EXT">CDA</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Resource Interchange File Format</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CDR&mode=EXT">CDR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">CorelDraw document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CDR&mode=EXT">CDR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=454C49544520436F&mode=SIG">45 4C 49 54 45 20 43 6F </a></span></td>
            <td width="274">Elite Plus Commander game file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CDR&mode=EXT">CDR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D535F564F494345&mode=SIG">4D 53 5F 56 4F 49 43 45 </a></span></td>
            <td width="274">Sony Compressed Voice File</td>
          </tr>
                  </table>
      </center>
