     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JFIF&mode=EXT">JFIF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JFIF IMAGE FILE - jpeg</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JG&mode=EXT">JG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4A47030E&mode=SIG">4A 47 03 0E </a></span></td>
            <td width="274">AOL ART file_1</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JG&mode=EXT">JG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4A47040E&mode=SIG">4A 47 04 0E </a></span></td>
            <td width="274">AOL ART file_2</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JNT&mode=EXT">JNT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4E422A00&mode=SIG">4E 42 2A 00 </a></span></td>
            <td width="274">MS Windows journal</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JP2&mode=EXT">JP2</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0000000C6A502020&mode=SIG">00 00 00 0C 6A 50 20 20 </a></span></td>
            <td width="274">JPEG2000 image files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JPE&mode=EXT">JPE</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPEG IMAGE</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JPE&mode=EXT">JPE</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPE IMAGE FILE - jpeg</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JPEG&mode=EXT">JPEG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPEG IMAGE</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JPEG&mode=EXT">JPEG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE2&mode=SIG">FF D8 FF E2 </a></span></td>
            <td width="274">CANNON EOS JPEG FILE</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JPEG&mode=EXT">JPEG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE3&mode=SIG">FF D8 FF E3 </a></span></td>
            <td width="274">SAMSUNG D500 JPEG FILE</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JPG&mode=EXT">JPG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPEG IMAGE</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JPG&mode=EXT">JPG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE1&mode=SIG">FF D8 FF E1 </a></span></td>
            <td width="274">Digital camera JPG using Exchangeable Image File Format (EXIF)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JPG&mode=EXT">JPG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE8&mode=SIG">FF D8 FF E8 </a></span></td>
            <td width="274">Still Picture Interchange File Format (SPIFF)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JTP&mode=EXT">JTP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4E422A00&mode=SIG">4E 42 2A 00 </a></span></td>
            <td width="274">MS Windows journal</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=KGB&mode=EXT">KGB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4B47425F61726368&mode=SIG">4B 47 42 5F 61 72 63 68 </a></span></td>
            <td width="274">KGB archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=KOZ&mode=EXT">KOZ</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=49443303000000&mode=SIG">49 44 33 03 00 00 00 </a></span></td>
            <td width="274">Sprint Music Store audio</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=KWD&mode=EXT">KWD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">KWord document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LBK&mode=EXT">LBK</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=C8007900&mode=SIG">C8 00 79 00 </a></span></td>
            <td width="274">Jeppesen FliteLog file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LGC&mode=EXT">LGC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=7B0D0A6F20&mode=SIG">7B 0D 0A 6F 20 </a></span></td>
            <td width="274">Windows application log</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LGD&mode=EXT">LGD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=7B0D0A6F20&mode=SIG">7B 0D 0A 6F 20 </a></span></td>
            <td width="274">Windows application log</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LHA&mode=EXT">LHA</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2D6C68&mode=SIG">2D 6C 68 </a></span></td>
            <td width="274">Compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LIB&mode=EXT">LIB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=213C617263683E0A&mode=SIG">21 3C 61 72 63 68 3E 0A </a></span></td>
            <td width="274">Unix archiver (ar)|MS Program Library Common Object File Format (COFF)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LIT&mode=EXT">LIT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=49544F4C49544C53&mode=SIG">49 54 4F 4C 49 54 4C 53 </a></span></td>
            <td width="274">MS Reader eBook</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LNK&mode=EXT">LNK</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4C00000001140200&mode=SIG">4C 00 00 00 01 14 02 00 </a></span></td>
            <td width="274">Windows shortcut file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LOG&mode=EXT">LOG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2A2A2A2020496E73&mode=SIG">2A 2A 2A 20 20 49 6E 73 </a></span></td>
            <td width="274">Symantec Wise Installer log</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LWP&mode=EXT">LWP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=576F726450726F&mode=SIG">57 6F 72 64 50 72 6F </a></span></td>
            <td width="274">Lotus WordPro file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=LZH&mode=EXT">LZH</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2D6C68&mode=SIG">2D 6C 68 </a></span></td>
            <td width="274">Compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=M4A&mode=EXT">M4A</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=00000020667479704D3441&mode=SIG">00 00 00 20 66 74 79 70 4D 34 41 </a></span></td>
            <td width="274">Apple audio and video files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MANIFEST&mode=EXT">MANIFEST</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3C3F786D6C2076657273696F6E3D&mode=SIG">3C 3F 78 6D 6C 20 76 65 72 73 69 6F 6E 3D </a></span></td>
            <td width="274">Windows Visual Stylesheet</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MAR&mode=EXT">MAR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D41723000&mode=SIG">4D 41 72 30 00 </a></span></td>
            <td width="274">MAr compressed archive</td>
          </tr>
                  </table>
      </center>
