     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=UFA&mode=EXT">UFA</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=554641C6D2C1&mode=SIG">55 46 41 C6 D2 C1 </a></span></td>
            <td width="274">UFA compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VBX&mode=EXT">VBX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">VisualBASIC application</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VCD&mode=EXT">VCD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=454E545259564344&mode=SIG">45 4E 54 52 59 56 43 44 </a></span></td>
            <td width="274">VideoVCD|VCDImager file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VCF&mode=EXT">VCF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=424547494E3A5643&mode=SIG">42 45 47 49 4E 3A 56 43 </a></span></td>
            <td width="274">vCard</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VCW&mode=EXT">VCW</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5B4D535643&mode=SIG">5B 4D 53 56 43 </a></span></td>
            <td width="274">Visual C++ Workbench Info File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VHD&mode=EXT">VHD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=636F6E6563746978&mode=SIG">63 6F 6E 65 63 74 69 78 </a></span></td>
            <td width="274">Virtual PC HD image</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VMDK&mode=EXT">VMDK</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=434F5744&mode=SIG">43 4F 57 44 </a></span></td>
            <td width="274">VMware 3 Virtual Disk</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VMDK&mode=EXT">VMDK</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=23204469736B2044&mode=SIG">23 20 44 69 73 6B 20 44 </a></span></td>
            <td width="274">VMware 4 Virtual Disk description</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VMDK&mode=EXT">VMDK</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4B444D&mode=SIG">4B 44 4D </a></span></td>
            <td width="274">VMware 4 Virtual Disk</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VOB&mode=EXT">VOB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=000001BA&mode=SIG">00 00 01 BA </a></span></td>
            <td width="274">DVD video file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VSD&mode=EXT">VSD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Visio file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=VXD&mode=EXT">VXD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Windows virtual device drivers</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WAB&mode=EXT">WAB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=9CCBCB8D1375D211&mode=SIG">9C CB CB 8D 13 75 D2 11 </a></span></td>
            <td width="274">Outlook address file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WAB&mode=EXT">WAB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=813284C18505D011&mode=SIG">81 32 84 C1 85 05 D0 11 </a></span></td>
            <td width="274">Outlook Express address book (Win95)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WAV&mode=EXT">WAV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Resource Interchange File Format</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WB2&mode=EXT">WB2</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=00000200&mode=SIG">00 00 02 00 </a></span></td>
            <td width="274">QuattroPro spreadsheet</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WB3&mode=EXT">WB3</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3E000300FEFF090006&mode=SIG">3E 00 03 00 FE FF 09 00 06 </a></span></td>
            <td width="274">Quatro Pro for Windows 7.0</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WIZ&mode=EXT">WIZ</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Office document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WK1&mode=EXT">WK1</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0000020006040600&mode=SIG">00 00 02 00 06 04 06 00 </a></span></td>
            <td width="274">Lotus 1-2-3 (v1)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WK3&mode=EXT">WK3</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=00001A0000100400&mode=SIG">00 00 1A 00 00 10 04 00 </a></span></td>
            <td width="274">Lotus 1-2-3 (v3)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WK4&mode=EXT">WK4</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=00001A0002100400&mode=SIG">00 00 1A 00 02 10 04 00 </a></span></td>
            <td width="274">Lotus 1-2-3 (v4|v5)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WK5&mode=EXT">WK5</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=00001A0002100400&mode=SIG">00 00 1A 00 02 10 04 00 </a></span></td>
            <td width="274">Lotus 1-2-3 (v4|v5)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WKS&mode=EXT">WKS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0E574B53&mode=SIG">0E 57 4B 53 </a></span></td>
            <td width="274">DeskMate Worksheet</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WKS&mode=EXT">WKS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FF00020004040554&mode=SIG">FF 00 02 00 04 04 05 54 </a></span></td>
            <td width="274">Works for Windows spreadsheet</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WMA&mode=EXT">WMA</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3026B2758E66CF11&mode=SIG">30 26 B2 75 8E 66 CF 11 </a></span></td>
            <td width="274">Windows Media Audio|Video File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WMF&mode=EXT">WMF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D7CDC69A&mode=SIG">D7 CD C6 9A </a></span></td>
            <td width="274">Windows graphics metafile</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WMV&mode=EXT">WMV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3026B2758E66CF11&mode=SIG">30 26 B2 75 8E 66 CF 11 </a></span></td>
            <td width="274">Windows Media Audio|Video File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WMZ&mode=EXT">WMZ</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">Windows Media compressed skin file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WP&mode=EXT">WP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FF575043&mode=SIG">FF 57 50 43 </a></span></td>
            <td width="274">WordPerfect text and graphics</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=WP5&mode=EXT">WP5</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FF575043&mode=SIG">FF 57 50 43 </a></span></td>
            <td width="274">WordPerfect text and graphics</td>
          </tr>
                  </table>
      </center>
