     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=41435344&mode=SIG">41 43 53 44 </a></span></td>
            <td width="274">AOL parameter|info files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=62706C697374&mode=SIG">62 70 6C 69 73 74 </a></span></td>
            <td width="274">Binary property list (plist)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=001400000102&mode=SIG">00 14 00 00 01 02 </a></span></td>
            <td width="274">BIOS details in RAM</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3037303730&mode=SIG">30 37 30 37 30 </a></span></td>
            <td width="274">cpio archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=7F454C46&mode=SIG">7F 45 4C 46 </a></span></td>
            <td width="274">ELF executable</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=A1B2CD34&mode=SIG">A1 B2 CD 34 </a></span></td>
            <td width="274">Extended tcpdump (libpcap) capture file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=04000000&mode=SIG">04 00 00 00 </a></span></td>
            <td width="274">INFO2 Windows recycle bin_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=05000000&mode=SIG">05 00 00 00 </a></span></td>
            <td width="274">INFO2 Windows recycle bin_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ACED&mode=SIG">AC ED </a></span></td>
            <td width="274">Java serialization data</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4B57414A88F027D1&mode=SIG">4B 57 41 4A 88 F0 27 D1 </a></span></td>
            <td width="274">KWAJ (compressed) file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CD20AAAA02000000&mode=SIG">CD 20 AA AA 02 00 00 00 </a></span></td>
            <td width="274">NAV quarantined virus file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=535A2088F02733D1&mode=SIG">53 5A 20 88 F0 27 33 D1 </a></span></td>
            <td width="274">QBASIC SZDD file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=6F3C&mode=SIG">6F 3C </a></span></td>
            <td width="274">SMS text (SIM)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=535A444488F02733&mode=SIG">53 5A 44 44 88 F0 27 33 </a></span></td>
            <td width="274">SZDD file format</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=A1B2C3D4&mode=SIG">A1 B2 C3 D4 </a></span></td>
            <td width="274">tcpdump (libpcap) capture file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=34CDB2A1&mode=SIG">34 CD B2 A1 </a></span></td>
            <td width="274">Tcpdump capture file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=EFBBBF&mode=SIG">EF BB BF </a></span></td>
            <td width="274">UTF8 file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FEFF&mode=SIG">FE FF </a></span></td>
            <td width="274">UTF-16|UCS-2 file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFFE0000&mode=SIG">FF FE 00 00 </a></span></td>
            <td width="274">UTF-32|UCS-4 file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=626567696E&mode=SIG">62 65 67 69 6E </a></span></td>
            <td width="274">UUencoded file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D4C3B2A1&mode=SIG">D4 C3 B2 A1 </a></span></td>
            <td width="274">WinDump (winpcap) capture file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=*&mode=EXT">*</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=37E45396C9DBD607&mode=SIG">37 E4 53 96 C9 DB D6 07 </a></span></td>
            <td width="274">zisofs compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=123&mode=EXT">123</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=00001A00051004&mode=SIG">00 00 1A 00 05 10 04 </a></span></td>
            <td width="274">Lotus 1-2-3 (v9)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=386&mode=EXT">386</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Windows virtual device drivers</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3GP&mode=EXT">3GP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0000001466747970&mode=SIG">00 00 00 14 66 74 79 70 </a></span></td>
            <td width="274">3GPP multimedia files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3GP&mode=EXT">3GP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0000002066747970&mode=SIG">00 00 00 20 66 74 79 70 </a></span></td>
            <td width="274">3GPP2 multimedia files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3GP5&mode=EXT">3GP5</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0000001866747970&mode=SIG">00 00 00 18 66 74 79 70 </a></span></td>
            <td width="274">MPEG-4 video files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4XM&mode=EXT">4XM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">4X Movie video</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=7Z&mode=EXT">7Z</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=377ABCAF271C&mode=SIG">37 7A BC AF 27 1C </a></span></td>
            <td width="274">7-Zip compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ABA&mode=EXT">ABA</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=00014241&mode=SIG">00 01 42 41 </a></span></td>
            <td width="274">Palm Address Book Archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ABD&mode=EXT">ABD</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5157205665722E20&mode=SIG">51 57 20 56 65 72 2E 20 </a></span></td>
            <td width="274">ABD | QSD Quicken data file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ABI&mode=EXT">ABI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C494E444558&mode=SIG">41 4F 4C 49 4E 44 45 58 </a></span></td>
            <td width="274">AOL address book index</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ABI&mode=EXT">ABI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ABY&mode=EXT">ABY</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C4442&mode=SIG">41 4F 4C 44 42 </a></span></td>
            <td width="274">AOL address book</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ABY&mode=EXT">ABY</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AC&mode=EXT">AC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=72696666&mode=SIG">72 69 66 66 </a></span></td>
            <td width="274">Sonic Foundry Acid Music File</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ACCDB&mode=EXT">ACCDB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=000100005374616E6461726420414345204442&mode=SIG">00 01 00 00 53 74 61 6E 64 61 72 64 20 41 43 45 20 44 42 </a></span></td>
            <td width="274">Microsoft Access 2007</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ACM&mode=EXT">ACM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">MS audio compression manager driver</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ACS&mode=EXT">ACS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=C3ABCDAB&mode=SIG">C3 AB CD AB </a></span></td>
            <td width="274">MS Agent Character file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AC_&mode=EXT">AC_</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">CaseWare Working Papers</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AD&mode=EXT">AD</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5245564E554D3A2C&mode=SIG">52 45 56 4E 55 4D 3A 2C </a></span></td>
            <td width="274">Antenna data file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ADF&mode=EXT">ADF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=444F53&mode=SIG">44 4F 53 </a></span></td>
            <td width="274">Amiga disk file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ADP&mode=EXT">ADP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Access project file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ADX&mode=EXT">ADX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0300000041505052&mode=SIG">03 00 00 00 41 50 50 52 </a></span></td>
            <td width="274">Approach index file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ADX&mode=EXT">ADX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=80000020031204&mode=SIG">80 00 00 20 03 12 04 </a></span></td>
            <td width="274">Dreamcast audio</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AIFF&mode=EXT">AIFF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=464F524D00&mode=SIG">46 4F 52 4D 00 </a></span></td>
            <td width="274">Audio Interchange File</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AIN&mode=EXT">AIN</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2112&mode=SIG">21 12 </a></span></td>
            <td width="274">AIN Compressed Archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AMR&mode=EXT">AMR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2321414D52&mode=SIG">23 21 41 4D 52 </a></span></td>
            <td width="274">Adaptive Multi-Rate ACELP Codec (GSM)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ANI&mode=EXT">ANI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Windows animated cursor</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=API&mode=EXT">API</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A900003000000&mode=SIG">4D 5A 90 00 03 00 00 00 </a></span></td>
            <td width="274">Acrobat plug-in</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=APR&mode=EXT">APR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Lotus|IBM Approach 97 file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=41724301&mode=SIG">41 72 43 01 </a></span></td>
            <td width="274">FreeArc compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A02&mode=SIG">1A 02 </a></span></td>
            <td width="274">LH archive (old vers.|type 1)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A03&mode=SIG">1A 03 </a></span></td>
            <td width="274">LH archive (old vers.|type 2)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A04&mode=SIG">1A 04 </a></span></td>
            <td width="274">LH archive (old vers.|type 3)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A08&mode=SIG">1A 08 </a></span></td>
            <td width="274">LH archive (old vers.|type 4)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A09&mode=SIG">1A 09 </a></span></td>
            <td width="274">LH archive (old vers.|type 5)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ARJ&mode=EXT">ARJ</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=60EA&mode=SIG">60 EA </a></span></td>
            <td width="274">ARJ Compressed archive file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ARL&mode=EXT">ARL</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D42A&mode=SIG">D4 2A </a></span></td>
            <td width="274">AOL history|typed URL files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ASF&mode=EXT">ASF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3026B2758E66CF11&mode=SIG">30 26 B2 75 8E 66 CF 11 </a></span></td>
            <td width="274">Windows Media Audio|Video File</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AST&mode=EXT">AST</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5343486C&mode=SIG">53 43 48 6C </a></span></td>
            <td width="274">Underground Audio</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ASX&mode=EXT">ASX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3C&mode=SIG">3C </a></span></td>
            <td width="274">Advanced Stream Redirector</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AU&mode=EXT">AU</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=646E732E&mode=SIG">64 6E 73 2E </a></span></td>
            <td width="274">Audacity audio file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AU&mode=EXT">AU</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2E736E64&mode=SIG">2E 73 6E 64 </a></span></td>
            <td width="274">NeXT|Sun Microsystems audio file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AUT&mode=EXT">AUT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D42A&mode=SIG">D4 2A </a></span></td>
            <td width="274">AOL history|typed URL files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AVI&mode=EXT">AVI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Resource Interchange File Format</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AW&mode=EXT">AW</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=8A0109000000E108&mode=SIG">8A 01 09 00 00 00 E1 08 </a></span></td>
            <td width="274">MS Answer Wizard</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AX&mode=EXT">AX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A900003000000&mode=SIG">4D 5A 90 00 03 00 00 00 </a></span></td>
            <td width="274">DirectShow filter</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=AX&mode=EXT">AX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Library cache file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=BAG&mode=EXT">BAG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C2046656564&mode=SIG">41 4F 4C 20 46 65 65 64 </a></span></td>
            <td width="274">AOL and AIM buddy list</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=BAG&mode=EXT">BAG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=BDR&mode=EXT">BDR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5854&mode=SIG">58 54 </a></span></td>
            <td width="274">MS Publisher</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=BIN&mode=EXT">BIN</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=424C4932323351&mode=SIG">42 4C 49 32 32 33 51 </a></span></td>
            <td width="274">Speedtouch router firmware</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=BMP&mode=EXT">BMP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=424D&mode=SIG">42 4D </a></span></td>
            <td width="274">Bitmap image</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=BZ2&mode=EXT">BZ2</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=425A68&mode=SIG">42 5A 68 </a></span></td>
            <td width="274">bzip2 compressed archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAB&mode=EXT">CAB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=49536328&mode=SIG">49 53 63 28 </a></span></td>
            <td width="274">Install Shield compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAB&mode=EXT">CAB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D534346&mode=SIG">4D 53 43 46 </a></span></td>
            <td width="274">Microsoft cabinet file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAL&mode=EXT">CAL</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=737263646F636964&mode=SIG">73 72 63 64 6F 63 69 64 </a></span></td>
            <td width="274">CALS raster bitmap</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAL&mode=EXT">CAL</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=537570657243616C&mode=SIG">53 75 70 65 72 43 61 6C </a></span></td>
            <td width="274">SuperCalc worksheet</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAL&mode=EXT">CAL</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=B5A2B0B3B3B0A5B5&mode=SIG">B5 A2 B0 B3 B3 B0 A5 B5 </a></span></td>
            <td width="274">Windows calendar</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAP&mode=EXT">CAP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=58435000&mode=SIG">58 43 50 00 </a></span></td>
            <td width="274">Packet sniffer files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAP&mode=EXT">CAP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=52545353&mode=SIG">52 54 53 53 </a></span></td>
            <td width="274">WinNT Netmon capture file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAS&mode=EXT">CAS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5F434153455F&mode=SIG">5F 43 41 53 45 5F </a></span></td>
            <td width="274">EnCase case file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAT&mode=EXT">CAT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=30&mode=SIG">30 </a></span></td>
            <td width="274">MS security catalog file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CBD&mode=EXT">CBD</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=434246494C45&mode=SIG">43 42 46 49 4C 45 </a></span></td>
            <td width="274">WordPerfect dictionary</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CBK&mode=EXT">CBK</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5F434153455F&mode=SIG">5F 43 41 53 45 5F </a></span></td>
            <td width="274">EnCase case file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CDA&mode=EXT">CDA</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Resource Interchange File Format</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CDR&mode=EXT">CDR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">CorelDraw document</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CDR&mode=EXT">CDR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=454C49544520436F&mode=SIG">45 4C 49 54 45 20 43 6F </a></span></td>
            <td width="274">Elite Plus Commander game file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CDR&mode=EXT">CDR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D535F564F494345&mode=SIG">4D 53 5F 56 4F 49 43 45 </a></span></td>
            <td width="274">Sony Compressed Voice File</td>
          </tr>
                   <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CFG&mode=EXT">CFG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5B666C7473696D2E&mode=SIG">5B 66 6C 74 73 69 6D 2E </a></span></td>
            <td width="274">Flight Simulator Aircraft Configuration</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CHI&mode=EXT">CHI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=49545346&mode=SIG">49 54 53 46 </a></span></td>
            <td width="274">MS Compiled HTML Help File</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CHM&mode=EXT">CHM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=49545346&mode=SIG">49 54 53 46 </a></span></td>
            <td width="274">MS Compiled HTML Help File</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CLASS&mode=EXT">CLASS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CAFEBABE&mode=SIG">CA FE BA BE </a></span></td>
            <td width="274">Java bytecode</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CLB&mode=EXT">CLB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=434F4D2B&mode=SIG">43 4F 4D 2B </a></span></td>
            <td width="274">COM+ Catalog</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CLB&mode=EXT">CLB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=434D5831&mode=SIG">43 4D 58 31 </a></span></td>
            <td width="274">Corel Binary metafile</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CMX&mode=EXT">CMX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Corel Presentation Exchange metadata</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CNV&mode=EXT">CNV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=53514C4F434F4E56&mode=SIG">53 51 4C 4F 43 4F 4E 56 </a></span></td>
            <td width="274">DB2 conversion file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=COD&mode=EXT">COD</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4E616D653A20&mode=SIG">4E 61 6D 65 3A 20 </a></span></td>
            <td width="274">Agent newsreader character map</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=COM&mode=EXT">COM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Windows|DOS executable file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=COM&mode=EXT">COM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=E8&mode=SIG">E8 </a></span></td>
            <td width="274">Windows executable file_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=COM&mode=EXT">COM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=E9&mode=SIG">E9 </a></span></td>
            <td width="274">Windows executable file_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=COM&mode=EXT">COM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=EB&mode=SIG">EB </a></span></td>
            <td width="274">Windows executable file_3</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CPE&mode=EXT">CPE</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=464158434F564552&mode=SIG">46 41 58 43 4F 56 45 52 </a></span></td>
            <td width="274">MS Fax Cover Sheet</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CPI&mode=EXT">CPI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=53494554524F4E49&mode=SIG">53 49 45 54 52 4F 4E 49 </a></span></td>
            <td width="274">Sietronics CPI XRD document</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CPI&mode=EXT">CPI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FF464F4E54&mode=SIG">FF 46 4F 4E 54 </a></span></td>
            <td width="274">Windows international code page</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CPL&mode=EXT">CPL</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Control panel application</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CPL&mode=EXT">CPL</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=DCDC&mode=SIG">DC DC </a></span></td>
            <td width="274">Corel color palette</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CPT&mode=EXT">CPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4350543746494C45&mode=SIG">43 50 54 37 46 49 4C 45 </a></span></td>
            <td width="274">Corel Photopaint file_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CPT&mode=EXT">CPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=43505446494C45&mode=SIG">43 50 54 46 49 4C 45 </a></span></td>
            <td width="274">Corel Photopaint file_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CPX&mode=EXT">CPX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5B57696E646F7773&mode=SIG">5B 57 69 6E 64 6F 77 73 </a></span></td>
            <td width="274">Microsoft Code Page Translation file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CRU&mode=EXT">CRU</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=43525553482076&mode=SIG">43 52 55 53 48 20 76 </a></span></td>
            <td width="274">Crush compressed archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CRW&mode=EXT">CRW</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=49491A0000004845&mode=SIG">49 49 1A 00 00 00 48 45 </a></span></td>
            <td width="274">Canon RAW file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CSH&mode=EXT">CSH</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=6375736800000002&mode=SIG">63 75 73 68 00 00 00 02 </a></span></td>
            <td width="274">Photoshop Custom Shape</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CTF&mode=EXT">CTF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=436174616C6F6720&mode=SIG">43 61 74 61 6C 6F 67 20 </a></span></td>
            <td width="274">WhereIsIt Catalog</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CTL&mode=EXT">CTL</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=56455253494F4E20&mode=SIG">56 45 52 53 49 4F 4E 20 </a></span></td>
            <td width="274">Visual Basic User-defined Control file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CUIX&mode=EXT">CUIX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">Customization files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=CUR&mode=EXT">CUR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=00000200&mode=SIG">00 00 02 00 </a></span></td>
            <td width="274">Windows cursor</td>
          </tr>

                  </table>
      </center>
