     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=dex&mode=EXT">dex</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=6465780A30303900&mode=SIG">64 65 78 0A 30 30 39 00 </a></span></td>
            <td width="274">Dalvik (Android) executable file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DIB&mode=EXT">DIB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=424D&mode=SIG">42 4D </a></span></td>
            <td width="274">Bitmap image</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DLL&mode=EXT">DLL</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Windows|DOS executable file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DMG&mode=EXT">DMG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=78&mode=SIG">78 </a></span></td>
            <td width="274">MacOS X image file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DMP&mode=EXT">DMP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D444D5093A7&mode=SIG">4D 44 4D 50 93 A7 </a></span></td>
            <td width="274">Windows dump file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DMP&mode=EXT">DMP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504147454455&mode=SIG">50 41 47 45 44 55 </a></span></td>
            <td width="274">Windows memory dump</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DMS&mode=EXT">DMS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=444D5321&mode=SIG">44 4D 53 21 </a></span></td>
            <td width="274">Amiga DiskMasher compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DOC&mode=EXT">DOC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Office document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DOC&mode=EXT">DOC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0D444F43&mode=SIG">0D 44 4F 43 </a></span></td>
            <td width="274">DeskMate Document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DOC&mode=EXT">DOC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=CF11E0A1B11AE100&mode=SIG">CF 11 E0 A1 B1 1A E1 00 </a></span></td>
            <td width="274">Perfect Office document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DOC&mode=EXT">DOC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=DBA52D00&mode=SIG">DB A5 2D 00 </a></span></td>
            <td width="274">Word 2.0 file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DOC&mode=EXT">DOC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=ECA5C100&mode=SIG">EC A5 C1 00 </a></span></td>
            <td width="274">Word document subheader</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DOCX&mode=EXT">DOCX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">MS Office Open XML Format Document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DOCX&mode=EXT">DOCX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B030414000600&mode=SIG">50 4B 03 04 14 00 06 00 </a></span></td>
            <td width="274">MS Office 2007 documents</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DOT&mode=EXT">DOT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Office document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DRV&mode=EXT">DRV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Windows|DOS executable file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DRW&mode=EXT">DRW</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=07&mode=SIG">07 </a></span></td>
            <td width="274">Generic drawing programs</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DRW&mode=EXT">DRW</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=01FF02040302&mode=SIG">01 FF 02 04 03 02 </a></span></td>
            <td width="274">Micrografx vector graphic file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DS4&mode=EXT">DS4</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Micrografx Designer graphic</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DSN&mode=EXT">DSN</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D56&mode=SIG">4D 56 </a></span></td>
            <td width="274">CD Stomper Pro label file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DSP&mode=EXT">DSP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=23204D6963726F73&mode=SIG">23 20 4D 69 63 72 6F 73 </a></span></td>
            <td width="274">MS Developer Studio project file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DSS&mode=EXT">DSS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=02647373&mode=SIG">02 64 73 73 </a></span></td>
            <td width="274">Digital Speech Standard file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DSW&mode=EXT">DSW</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=64737766696C65&mode=SIG">64 73 77 66 69 6C 65 </a></span></td>
            <td width="274">MS Visual Studio workspace file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DTD&mode=EXT">DTD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0764743264647464&mode=SIG">07 64 74 32 64 64 74 64 </a></span></td>
            <td width="274">DesignTools 2D Design file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DUN&mode=EXT">DUN</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5B50686F6E655D&mode=SIG">5B 50 68 6F 6E 65 5D </a></span></td>
            <td width="274">Dial-up networking file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DVF&mode=EXT">DVF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D535F564F494345&mode=SIG">4D 53 5F 56 4F 49 43 45 </a></span></td>
            <td width="274">Sony Compressed Voice File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DVR&mode=EXT">DVR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=445644&mode=SIG">44 56 44 </a></span></td>
            <td width="274">DVR-Studio stream file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DW4&mode=EXT">DW4</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4F7B&mode=SIG">4F 7B </a></span></td>
            <td width="274">Visio|DisplayWrite 4 text file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DWG&mode=EXT">DWG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=41433130&mode=SIG">41 43 31 30 </a></span></td>
            <td width="274">Generic AutoCAD drawing</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=E01&mode=EXT">E01</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=455646090D0AFF00&mode=SIG">45 56 46 09 0D 0A FF 00 </a></span></td>
            <td width="274">Expert Witness Compression Format</td>
          </tr>
                  </table>
      </center>
