     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FDF&mode=EXT">FDF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=25504446&mode=SIG">25 50 44 46 </a></span></td>
            <td width="274">PDF file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FLAC&mode=EXT">FLAC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=664C614300000022&mode=SIG">66 4C 61 43 00 00 00 22 </a></span></td>
            <td width="274">Free Lossless Audio Codec file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FLI&mode=EXT">FLI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0011&mode=SIG">00 11 </a></span></td>
            <td width="274">FLIC animation</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FLT&mode=EXT">FLT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A900003000000&mode=SIG">4D 5A 90 00 03 00 00 00 </a></span></td>
            <td width="274">Audition graphic filter</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FLT&mode=EXT">FLT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=76323030332E3130&mode=SIG">76 32 30 30 33 2E 31 30 </a></span></td>
            <td width="274">Qimage filter</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FLV&mode=EXT">FLV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=464C56&mode=SIG">46 4C 56 </a></span></td>
            <td width="274">Flash video file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FM&mode=EXT">FM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3C4D616B65724669&mode=SIG">3C 4D 61 6B 65 72 46 69 </a></span></td>
            <td width="274">Adobe FrameMaker</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FON&mode=EXT">FON</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Font file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FTR&mode=EXT">FTR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D20A0000&mode=SIG">D2 0A 00 00 </a></span></td>
            <td width="274">WinPharoah filter file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GHO&mode=EXT">GHO</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FEEF&mode=SIG">FE EF </a></span></td>
            <td width="274">Symantex Ghost image file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GHS&mode=EXT">GHS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FEEF&mode=SIG">FE EF </a></span></td>
            <td width="274">Symantex Ghost image file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GID&mode=EXT">GID</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3F5F0300&mode=SIG">3F 5F 03 00 </a></span></td>
            <td width="274">Windows Help file_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GID&mode=EXT">GID</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4C4E0200&mode=SIG">4C 4E 02 00 </a></span></td>
            <td width="274">Windows help file_3</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GIF&mode=EXT">GIF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=47494638&mode=SIG">47 49 46 38 </a></span></td>
            <td width="274">GIF file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GPG&mode=EXT">GPG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=99&mode=SIG">99 </a></span></td>
            <td width="274">GPG public keyring</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GRP&mode=EXT">GRP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504D4343&mode=SIG">50 4D 43 43 </a></span></td>
            <td width="274">Windows Program Manager group file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GX2&mode=EXT">GX2</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=475832&mode=SIG">47 58 32 </a></span></td>
            <td width="274">Show Partner graphics file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=GZ&mode=EXT">GZ</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1F8B08&mode=SIG">1F 8B 08 </a></span></td>
            <td width="274">GZIP archive file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=HAP&mode=EXT">HAP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=91334846&mode=SIG">91 33 48 46 </a></span></td>
            <td width="274">Hamarsoft compressed archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=HDMP&mode=EXT">HDMP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D444D5093A7&mode=SIG">4D 44 4D 50 93 A7 </a></span></td>
            <td width="274">Windows dump file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=HDR&mode=EXT">HDR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=49536328&mode=SIG">49 53 63 28 </a></span></td>
            <td width="274">Install Shield compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=HDR&mode=EXT">HDR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=233F52414449414E&mode=SIG">23 3F 52 41 44 49 41 4E </a></span></td>
            <td width="274">Radiance High Dynamic Range image file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=hip&mode=EXT">hip</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=48695021&mode=SIG">48 69 50 21 </a></span></td>
            <td width="274">Houdini image file. Three-dimensional modeling and animation</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=HLP&mode=EXT">HLP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0000FFFFFFFF&mode=SIG">00 00 FF FF FF FF </a></span></td>
            <td width="274">Windows Help file_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=HLP&mode=EXT">HLP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3F5F0300&mode=SIG">3F 5F 03 00 </a></span></td>
            <td width="274">Windows Help file_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=HLP&mode=EXT">HLP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4C4E0200&mode=SIG">4C 4E 02 00 </a></span></td>
            <td width="274">Windows help file_3</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=HQX&mode=EXT">HQX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2854686973206669&mode=SIG">28 54 68 69 73 20 66 69 </a></span></td>
            <td width="274">BinHex 4 Compressed Archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ICO&mode=EXT">ICO</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=00000100&mode=SIG">00 00 01 00 </a></span></td>
            <td width="274">Windows icon|printer spool file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IDX&mode=EXT">IDX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C4442&mode=SIG">41 4F 4C 44 42 </a></span></td>
            <td width="274">AOL user configuration</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IDX&mode=EXT">IDX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IDX&mode=EXT">IDX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5000000020000000&mode=SIG">50 00 00 00 20 00 00 00 </a></span></td>
            <td width="274">Quicken QuickFinder Information File</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IFO&mode=EXT">IFO</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=445644&mode=SIG">44 56 44 </a></span></td>
            <td width="274">DVD info file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IMG&mode=EXT">IMG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504943540008&mode=SIG">50 49 43 54 00 08 </a></span></td>
            <td width="274">ChromaGraph Graphics Card Bitmap</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IMG&mode=EXT">IMG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=EB3C902A&mode=SIG">EB 3C 90 2A </a></span></td>
            <td width="274">GEM Raster file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IMG&mode=EXT">IMG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=53434D49&mode=SIG">53 43 4D 49 </a></span></td>
            <td width="274">Img Software Bitmap</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IND&mode=EXT">IND</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C494458&mode=SIG">41 4F 4C 49 44 58 </a></span></td>
            <td width="274">AOL client preferences|settings file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IND&mode=EXT">IND</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=INFO&mode=EXT">INFO</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=E310000100000000&mode=SIG">E3 10 00 01 00 00 00 00 </a></span></td>
            <td width="274">Amiga icon</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=INFO&mode=EXT">INFO</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5468697320697320&mode=SIG">54 68 69 73 20 69 73 20 </a></span></td>
            <td width="274">GNU Info Reader file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=INFO&mode=EXT">INFO</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=7A626578&mode=SIG">7A 62 65 78 </a></span></td>
            <td width="274">ZoomBrowser Image Index</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ISO&mode=EXT">ISO</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4344303031&mode=SIG">43 44 30 30 31 </a></span></td>
            <td width="274">ISO-9660 CD Disc Image</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=IVR&mode=EXT">IVR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2E524543&mode=SIG">2E 52 45 43 </a></span></td>
            <td width="274">RealPlayer video file (V11+)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JAR&mode=EXT">JAR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">Java archive_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JAR&mode=EXT">JAR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5F27A889&mode=SIG">5F 27 A8 89 </a></span></td>
            <td width="274">Jar archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JAR&mode=EXT">JAR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4A4152435300&mode=SIG">4A 41 52 43 53 00 </a></span></td>
            <td width="274">JARCS compressed archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JAR&mode=EXT">JAR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B030414000800&mode=SIG">50 4B 03 04 14 00 08 00 </a></span></td>
            <td width="274">Java archive_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JFIF&mode=EXT">JFIF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPEG IMAGE</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JFIF&mode=EXT">JFIF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JFIF IMAGE FILE - jpeg</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JG&mode=EXT">JG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4A47030E&mode=SIG">4A 47 03 0E </a></span></td>
            <td width="274">AOL ART file_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JG&mode=EXT">JG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4A47040E&mode=SIG">4A 47 04 0E </a></span></td>
            <td width="274">AOL ART file_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JNT&mode=EXT">JNT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4E422A00&mode=SIG">4E 42 2A 00 </a></span></td>
            <td width="274">MS Windows journal</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JP2&mode=EXT">JP2</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0000000C6A502020&mode=SIG">00 00 00 0C 6A 50 20 20 </a></span></td>
            <td width="274">JPEG2000 image files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JPE&mode=EXT">JPE</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPEG IMAGE</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JPE&mode=EXT">JPE</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPE IMAGE FILE - jpeg</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JPEG&mode=EXT">JPEG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPEG IMAGE</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JPEG&mode=EXT">JPEG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE2&mode=SIG">FF D8 FF E2 </a></span></td>
            <td width="274">CANNON EOS JPEG FILE</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JPEG&mode=EXT">JPEG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE3&mode=SIG">FF D8 FF E3 </a></span></td>
            <td width="274">SAMSUNG D500 JPEG FILE</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JPG&mode=EXT">JPG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPEG IMAGE</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JPG&mode=EXT">JPG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE1&mode=SIG">FF D8 FF E1 </a></span></td>
            <td width="274">Digital camera JPG using Exchangeable Image File Format (EXIF)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JPG&mode=EXT">JPG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFD8FFE8&mode=SIG">FF D8 FF E8 </a></span></td>
            <td width="274">Still Picture Interchange File Format (SPIFF)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=JTP&mode=EXT">JTP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4E422A00&mode=SIG">4E 42 2A 00 </a></span></td>
            <td width="274">MS Windows journal</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=KGB&mode=EXT">KGB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4B47425F61726368&mode=SIG">4B 47 42 5F 61 72 63 68 </a></span></td>
            <td width="274">KGB archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=KOZ&mode=EXT">KOZ</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=49443303000000&mode=SIG">49 44 33 03 00 00 00 </a></span></td>
            <td width="274">Sprint Music Store audio</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=KWD&mode=EXT">KWD</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">KWord document</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LBK&mode=EXT">LBK</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=C8007900&mode=SIG">C8 00 79 00 </a></span></td>
            <td width="274">Jeppesen FliteLog file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LGC&mode=EXT">LGC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=7B0D0A6F20&mode=SIG">7B 0D 0A 6F 20 </a></span></td>
            <td width="274">Windows application log</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LGD&mode=EXT">LGD</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=7B0D0A6F20&mode=SIG">7B 0D 0A 6F 20 </a></span></td>
            <td width="274">Windows application log</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LHA&mode=EXT">LHA</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2D6C68&mode=SIG">2D 6C 68 </a></span></td>
            <td width="274">Compressed archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LIB&mode=EXT">LIB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=213C617263683E0A&mode=SIG">21 3C 61 72 63 68 3E 0A </a></span></td>
            <td width="274">Unix archiver (ar)|MS Program Library Common Object File Format (COFF)</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LIT&mode=EXT">LIT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=49544F4C49544C53&mode=SIG">49 54 4F 4C 49 54 4C 53 </a></span></td>
            <td width="274">MS Reader eBook</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LNK&mode=EXT">LNK</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4C00000001140200&mode=SIG">4C 00 00 00 01 14 02 00 </a></span></td>
            <td width="274">Windows shortcut file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LOG&mode=EXT">LOG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2A2A2A2020496E73&mode=SIG">2A 2A 2A 20 20 49 6E 73 </a></span></td>
            <td width="274">Symantec Wise Installer log</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LWP&mode=EXT">LWP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=576F726450726F&mode=SIG">57 6F 72 64 50 72 6F </a></span></td>
            <td width="274">Lotus WordPro file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=LZH&mode=EXT">LZH</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2D6C68&mode=SIG">2D 6C 68 </a></span></td>
            <td width="274">Compressed archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=M4A&mode=EXT">M4A</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=00000020667479704D3441&mode=SIG">00 00 00 20 66 74 79 70 4D 34 41 </a></span></td>
            <td width="274">Apple audio and video files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MANIFEST&mode=EXT">MANIFEST</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3C3F786D6C2076657273696F6E3D&mode=SIG">3C 3F 78 6D 6C 20 76 65 72 73 69 6F 6E 3D </a></span></td>
            <td width="274">Windows Visual Stylesheet</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MAR&mode=EXT">MAR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D41723000&mode=SIG">4D 41 72 30 00 </a></span></td>
            <td width="274">MAr compressed archive</td>
          </tr>



                  </table>
      </center>
