     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ZIP&mode=EXT">ZIP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">PKZIP archive_1</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ZIP&mode=EXT">ZIP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B4C495445&mode=SIG">50 4B 4C 49 54 45 </a></span></td>
            <td width="274">PKLITE archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ZIP&mode=EXT">ZIP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B537058&mode=SIG">50 4B 53 70 58 </a></span></td>
            <td width="274">PKSFX self-extracting archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ZIP&mode=EXT">ZIP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0506&mode=SIG">50 4B 05 06 </a></span></td>
            <td width="274">PKZIP archive_2</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ZIP&mode=EXT">ZIP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0708&mode=SIG">50 4B 07 08 </a></span></td>
            <td width="274">PKZIP archive_3</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ZIP&mode=EXT">ZIP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=57696E5A6970&mode=SIG">57 69 6E 5A 69 70 </a></span></td>
            <td width="274">WinZip compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ZIP&mode=EXT">ZIP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B030414000100&mode=SIG">50 4B 03 04 14 00 01 00 </a></span></td>
            <td width="274">ZLock Pro encrypted ZIP</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ZOO&mode=EXT">ZOO</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5A4F4F20&mode=SIG">5A 4F 4F 20 </a></span></td>
            <td width="274">ZOO compressed archive</td>
          </tr>
                  </table>
      </center>
