     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="http://www.filesignatures.net/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MAR&mode=EXT">MAR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D415243&mode=SIG">4D 41 52 43 </a></span></td>
            <td width="274">Microsoft|MSN MARC archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MAR&mode=EXT">MAR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D41523100&mode=SIG">4D 41 52 31 00 </a></span></td>
            <td width="274">Mozilla archive</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MDB&mode=EXT">MDB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=000100005374616E64617264204A6574204442&mode=SIG">00 01 00 00 53 74 61 6E 64 61 72 64 20 4A 65 74 20 44 42 </a></span></td>
            <td width="274">Microsoft Access</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MDF&mode=EXT">MDF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=010F0000&mode=SIG">01 0F 00 00 </a></span></td>
            <td width="274">SQL Data Base</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MDI&mode=EXT">MDI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4550&mode=SIG">45 50 </a></span></td>
            <td width="274">MS Document Imaging file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MID&mode=EXT">MID</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D546864&mode=SIG">4D 54 68 64 </a></span></td>
            <td width="274">MIDI sound file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MIDI&mode=EXT">MIDI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D546864&mode=SIG">4D 54 68 64 </a></span></td>
            <td width="274">MIDI sound file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MIF&mode=EXT">MIF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3C4D616B65724669&mode=SIG">3C 4D 61 6B 65 72 46 69 </a></span></td>
            <td width="274">Adobe FrameMaker</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MIF&mode=EXT">MIF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=56657273696F6E20&mode=SIG">56 65 72 73 69 6F 6E 20 </a></span></td>
            <td width="274">MapInfo Interchange Format file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MKV&mode=EXT">MKV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A45DFA393428288&mode=SIG">1A 45 DF A3 93 42 82 88 </a></span></td>
            <td width="274">Matroska stream file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MLS&mode=EXT">MLS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D494C4553&mode=SIG">4D 49 4C 45 53 </a></span></td>
            <td width="274">Milestones project management file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MLS&mode=EXT">MLS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D56323134&mode=SIG">4D 56 32 31 34 </a></span></td>
            <td width="274">Milestones project management file_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MLS&mode=EXT">MLS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D563243&mode=SIG">4D 56 32 43 </a></span></td>
            <td width="274">Milestones project management file_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MLS&mode=EXT">MLS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D4C5357&mode=SIG">4D 4C 53 57 </a></span></td>
            <td width="274">Skype localization data file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MMF&mode=EXT">MMF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D4D4D440000&mode=SIG">4D 4D 4D 44 00 00 </a></span></td>
            <td width="274">Yamaha Synthetic music Mobile Application Format</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MNY&mode=EXT">MNY</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=000100004D534953414D204461746162617365&mode=SIG">00 01 00 00 4D 53 49 53 41 4D 20 44 61 74 61 62 61 73 65 </a></span></td>
            <td width="274">Microsoft Money file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MOF&mode=EXT">MOF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FFFE23006C006900&mode=SIG">FF FE 23 00 6C 00 69 00 </a></span></td>
            <td width="274">MSinfo file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=6D6F6F76&mode=SIG">6D 6F 6F 76 </a></span></td>
            <td width="274">QuickTime movie_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=66726565&mode=SIG">66 72 65 65 </a></span></td>
            <td width="274">QuickTime movie_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=6D646174&mode=SIG">6D 64 61 74 </a></span></td>
            <td width="274">QuickTime movie_3</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=77696465&mode=SIG">77 69 64 65 </a></span></td>
            <td width="274">QuickTime movie_4</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=706E6F74&mode=SIG">70 6E 6F 74 </a></span></td>
            <td width="274">QuickTime movie_5</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=736B6970&mode=SIG">73 6B 69 70 </a></span></td>
            <td width="274">QuickTime movie_6</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MP&mode=EXT">MP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0CED&mode=SIG">0C ED </a></span></td>
            <td width="274">Monochrome Picture TIFF bitmap</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MP3&mode=EXT">MP3</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=494433&mode=SIG">49 44 33 </a></span></td>
            <td width="274">MP3 audio file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MPG&mode=EXT">MPG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=000001BA&mode=SIG">00 00 01 BA </a></span></td>
            <td width="274">DVD video file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MPG&mode=EXT">MPG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=000001B3&mode=SIG">00 00 01 B3 </a></span></td>
            <td width="274">MPEG video file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MSC&mode=EXT">MSC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Common Console Document</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MSC&mode=EXT">MSC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=3C3F786D6C2076657273696F6E3D22312E30223F3E0D0A3C4D4D435F436F6E736F6C6546696C6520436F6E736F6C65566572&mode=SIG">3C 3F 78 6D 6C 20 76 65 72 73 69 6F 6E 3D 22 31 2E 30 22 3F 3E 0D 0A 3C 4D 4D 43 5F 43 6F 6E 73 6F 6C 65 46 69 6C 65 20 43 6F 6E 73 6F 6C 65 56 65 72 </a></span></td>
            <td width="274">MMC Snap-in Control file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MSI&mode=EXT">MSI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Installer package</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MSI&mode=EXT">MSI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=2320&mode=SIG">23 20 </a></span></td>
            <td width="274">Cerius2 file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MSV&mode=EXT">MSV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D535F564F494345&mode=SIG">4D 53 5F 56 4F 49 43 45 </a></span></td>
            <td width="274">Sony Compressed Voice File</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=MTW&mode=EXT">MTW</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Minitab data file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=NRI&mode=EXT">NRI</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0E4E65726F49534F&mode=SIG">0E 4E 65 72 6F 49 53 4F </a></span></td>
            <td width="274">Nero CD compilation</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=NSF&mode=EXT">NSF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A0000040000&mode=SIG">1A 00 00 04 00 00 </a></span></td>
            <td width="274">Lotus Notes database</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=NSF&mode=EXT">NSF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4E45534D1A01&mode=SIG">4E 45 53 4D 1A 01 </a></span></td>
            <td width="274">NES Sound file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=NTF&mode=EXT">NTF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A0000&mode=SIG">1A 00 00 </a></span></td>
            <td width="274">Lotus Notes database template</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=NTF&mode=EXT">NTF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4E49544630&mode=SIG">4E 49 54 46 30 </a></span></td>
            <td width="274">National Imagery Transmission Format file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=NTF&mode=EXT">NTF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=30314F52444E414E&mode=SIG">30 31 4F 52 44 4E 41 4E </a></span></td>
            <td width="274">National Transfer Format Map</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=NVRAM&mode=EXT">NVRAM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D52564E&mode=SIG">4D 52 56 4E </a></span></td>
            <td width="274">VMware BIOS state file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OBJ&mode=EXT">OBJ</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4C01&mode=SIG">4C 01 </a></span></td>
            <td width="274">MS COFF relocatable object code</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OBJ&mode=EXT">OBJ</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=80&mode=SIG">80 </a></span></td>
            <td width="274">Relocatable object code</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OCX&mode=EXT">OCX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">ActiveX|OLE Custom Control</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ODP&mode=EXT">ODP</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">OpenDocument template</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ODT&mode=EXT">ODT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">OpenDocument template</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OGA&mode=EXT">OGA</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4F67675300020000&mode=SIG">4F 67 67 53 00 02 00 00 </a></span></td>
            <td width="274">Ogg Vorbis Codec compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OGG&mode=EXT">OGG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4F67675300020000&mode=SIG">4F 67 67 53 00 02 00 00 </a></span></td>
            <td width="274">Ogg Vorbis Codec compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OGV&mode=EXT">OGV</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4F67675300020000&mode=SIG">4F 67 67 53 00 02 00 00 </a></span></td>
            <td width="274">Ogg Vorbis Codec compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OGX&mode=EXT">OGX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4F67675300020000&mode=SIG">4F 67 67 53 00 02 00 00 </a></span></td>
            <td width="274">Ogg Vorbis Codec compressed file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OLB&mode=EXT">OLB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">OLE object library</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ONE&mode=EXT">ONE</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=E4525C7B8CD8A74D&mode=SIG">E4 52 5C 7B 8C D8 A7 4D </a></span></td>
            <td width="274">MS OneNote note</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OPT&mode=EXT">OPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Developer Studio File Options file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OPT&mode=EXT">OPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FDFFFFFF20&mode=SIG">FD FF FF FF 20 </a></span></td>
            <td width="274">Developer Studio subheader</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ORG&mode=EXT">ORG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C564D313030&mode=SIG">41 4F 4C 56 4D 31 30 30 </a></span></td>
            <td width="274">AOL personal file cabinet</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=OTT&mode=EXT">OTT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">OpenDocument template</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=P10&mode=EXT">P10</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=64000000&mode=SIG">64 00 00 00 </a></span></td>
            <td width="274">Intel PROset|Wireless Profile</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PAK&mode=EXT">PAK</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1A0B&mode=SIG">1A 0B </a></span></td>
            <td width="274">PAK Compressed archive file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PAK&mode=EXT">PAK</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=5041434B&mode=SIG">50 41 43 4B </a></span></td>
            <td width="274">Quake archive file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PAT&mode=EXT">PAT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=47504154&mode=SIG">47 50 41 54 </a></span></td>
            <td width="274">GIMP pattern file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PAX&mode=EXT">PAX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504158&mode=SIG">50 41 58 </a></span></td>
            <td width="274">PAX password protected bitmap</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PCH&mode=EXT">PCH</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=564350434830&mode=SIG">56 43 50 43 48 30 </a></span></td>
            <td width="274">Visual C PreCompiled header</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PCX&mode=EXT">PCX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0A020101&mode=SIG">0A 02 01 01 </a></span></td>
            <td width="274">ZSOFT Paintbrush file_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PCX&mode=EXT">PCX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0A030101&mode=SIG">0A 03 01 01 </a></span></td>
            <td width="274">ZSOFT Paintbrush file_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PCX&mode=EXT">PCX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0A050101&mode=SIG">0A 05 01 01 </a></span></td>
            <td width="274">ZSOFT Paintbrush file_3</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PDB&mode=EXT">PDB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=ACED000573720012&mode=SIG">AC ED 00 05 73 72 00 12 </a></span></td>
            <td width="274">BGBlitz position database file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PDB&mode=EXT">PDB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D2D5720506F636B&mode=SIG">4D 2D 57 20 50 6F 63 6B </a></span></td>
            <td width="274">Merriam-Webster Pocket Dictionary</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PDB&mode=EXT">PDB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D6963726F736F667420432F432B2B20&mode=SIG">4D 69 63 72 6F 73 6F 66 74 20 43 2F 43 2B 2B 20 </a></span></td>
            <td width="274">MS C++ debugging symbols file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PDB&mode=EXT">PDB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=736D5F&mode=SIG">73 6D 5F </a></span></td>
            <td width="274">PalmOS SuperMemo</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PDB&mode=EXT">PDB</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=737A657A&mode=SIG">73 7A 65 7A </a></span></td>
            <td width="274">PowerBASIC Debugger Symbols</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PDF&mode=EXT">PDF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=25504446&mode=SIG">25 50 44 46 </a></span></td>
            <td width="274">PDF file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PF&mode=EXT">PF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=1100000053434341&mode=SIG">11 00 00 00 53 43 43 41 </a></span></td>
            <td width="274">Windows prefetch file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PFC&mode=EXT">PFC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PFC&mode=EXT">PFC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=414F4C564D313030&mode=SIG">41 4F 4C 56 4D 31 30 30 </a></span></td>
            <td width="274">AOL personal file cabinet</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PGD&mode=EXT">PGD</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504750644D41494E&mode=SIG">50 47 50 64 4D 41 49 4E </a></span></td>
            <td width="274">PGP disk image</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PGM&mode=EXT">PGM</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=50350A&mode=SIG">50 35 0A </a></span></td>
            <td width="274">Portable Graymap Graphic</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PIF&mode=EXT">PIF</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Windows|DOS executable file</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PKR&mode=EXT">PKR</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=9901&mode=SIG">99 01 </a></span></td>
            <td width="274">PGP public keyring</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PNG&mode=EXT">PNG</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=89504E470D0A1A0A&mode=SIG">89 50 4E 47 0D 0A 1A 0A </a></span></td>
            <td width="274">PNG image</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPS&mode=EXT">PPS</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Office document</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPT&mode=EXT">PPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Office document</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPT&mode=EXT">PPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=006E1EF0&mode=SIG">00 6E 1E F0 </a></span></td>
            <td width="274">PowerPoint presentation subheader_1</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPT&mode=EXT">PPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=0F00E803&mode=SIG">0F 00 E8 03 </a></span></td>
            <td width="274">PowerPoint presentation subheader_2</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPT&mode=EXT">PPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=A0461DF0&mode=SIG">A0 46 1D F0 </a></span></td>
            <td width="274">PowerPoint presentation subheader_3</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPT&mode=EXT">PPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FDFFFFFF0E000000&mode=SIG">FD FF FF FF 0E 00 00 00 </a></span></td>
            <td width="274">PowerPoint presentation subheader_4</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPT&mode=EXT">PPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FDFFFFFF1C000000&mode=SIG">FD FF FF FF 1C 00 00 00 </a></span></td>
            <td width="274">PowerPoint presentation subheader_5</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPT&mode=EXT">PPT</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=FDFFFFFF43000000&mode=SIG">FD FF FF FF 43 00 00 00 </a></span></td>
            <td width="274">PowerPoint presentation subheader_6</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPTX&mode=EXT">PPTX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">MS Office Open XML Format Document</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPTX&mode=EXT">PPTX</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=504B030414000600&mode=SIG">50 4B 03 04 14 00 06 00 </a></span></td>
            <td width="274">MS Office 2007 documents</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PPZ&mode=EXT">PPZ</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=4D534346&mode=SIG">4D 53 43 46 </a></span></td>
            <td width="274">Powerpoint Packaged Presentation</td>
          </tr>
                    <tr>

            <td width="147"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=PRC&mode=EXT">PRC</a></span></td>
            <td width="236"><span id = "results"><a href="http://www.filesignatures.net/index.php?page=search&search=424F4F4B4D4F4249&mode=SIG">42 4F 4F 4B 4D 4F 42 49 </a></span></td>
            <td width="274">Palmpilot resource file</td>
          </tr>





                  </table>
      </center>
