     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ABD&mode=EXT">ABD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5157205665722E20&mode=SIG">51 57 20 56 65 72 2E 20 </a></span></td>
            <td width="274">ABD | QSD Quicken data file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ABI&mode=EXT">ABI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C494E444558&mode=SIG">41 4F 4C 49 4E 44 45 58 </a></span></td>
            <td width="274">AOL address book index</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ABI&mode=EXT">ABI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ABY&mode=EXT">ABY</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C4442&mode=SIG">41 4F 4C 44 42 </a></span></td>
            <td width="274">AOL address book</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ABY&mode=EXT">ABY</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AC&mode=EXT">AC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=72696666&mode=SIG">72 69 66 66 </a></span></td>
            <td width="274">Sonic Foundry Acid Music File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ACCDB&mode=EXT">ACCDB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=000100005374616E6461726420414345204442&mode=SIG">00 01 00 00 53 74 61 6E 64 61 72 64 20 41 43 45 20 44 42 </a></span></td>
            <td width="274">Microsoft Access 2007</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ACM&mode=EXT">ACM</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">MS audio compression manager driver</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ACS&mode=EXT">ACS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=C3ABCDAB&mode=SIG">C3 AB CD AB </a></span></td>
            <td width="274">MS Agent Character file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AC_&mode=EXT">AC_</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">CaseWare Working Papers</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AD&mode=EXT">AD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5245564E554D3A2C&mode=SIG">52 45 56 4E 55 4D 3A 2C </a></span></td>
            <td width="274">Antenna data file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ADF&mode=EXT">ADF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=444F53&mode=SIG">44 4F 53 </a></span></td>
            <td width="274">Amiga disk file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ADP&mode=EXT">ADP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Access project file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ADX&mode=EXT">ADX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0300000041505052&mode=SIG">03 00 00 00 41 50 50 52 </a></span></td>
            <td width="274">Approach index file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ADX&mode=EXT">ADX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=80000020031204&mode=SIG">80 00 00 20 03 12 04 </a></span></td>
            <td width="274">Dreamcast audio</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AIFF&mode=EXT">AIFF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=464F524D00&mode=SIG">46 4F 52 4D 00 </a></span></td>
            <td width="274">Audio Interchange File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AIN&mode=EXT">AIN</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2112&mode=SIG">21 12 </a></span></td>
            <td width="274">AIN Compressed Archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=AMR&mode=EXT">AMR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2321414D52&mode=SIG">23 21 41 4D 52 </a></span></td>
            <td width="274">Adaptive Multi-Rate ACELP Codec (GSM)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ANI&mode=EXT">ANI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Windows animated cursor</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=API&mode=EXT">API</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A900003000000&mode=SIG">4D 5A 90 00 03 00 00 00 </a></span></td>
            <td width="274">Acrobat plug-in</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=APR&mode=EXT">APR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Lotus|IBM Approach 97 file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=41724301&mode=SIG">41 72 43 01 </a></span></td>
            <td width="274">FreeArc compressed file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A02&mode=SIG">1A 02 </a></span></td>
            <td width="274">LH archive (old vers.|type 1)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A03&mode=SIG">1A 03 </a></span></td>
            <td width="274">LH archive (old vers.|type 2)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A04&mode=SIG">1A 04 </a></span></td>
            <td width="274">LH archive (old vers.|type 3)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A08&mode=SIG">1A 08 </a></span></td>
            <td width="274">LH archive (old vers.|type 4)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ARC&mode=EXT">ARC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A09&mode=SIG">1A 09 </a></span></td>
            <td width="274">LH archive (old vers.|type 5)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ARJ&mode=EXT">ARJ</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=60EA&mode=SIG">60 EA </a></span></td>
            <td width="274">ARJ Compressed archive file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ARL&mode=EXT">ARL</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D42A&mode=SIG">D4 2A </a></span></td>
            <td width="274">AOL history|typed URL files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ASF&mode=EXT">ASF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3026B2758E66CF11&mode=SIG">30 26 B2 75 8E 66 CF 11 </a></span></td>
            <td width="274">Windows Media Audio|Video File</td>
          </tr>
                  </table>
      </center>
