     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MSI&mode=EXT">MSI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2320&mode=SIG">23 20 </a></span></td>
            <td width="274">Cerius2 file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MSV&mode=EXT">MSV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D535F564F494345&mode=SIG">4D 53 5F 56 4F 49 43 45 </a></span></td>
            <td width="274">Sony Compressed Voice File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MTW&mode=EXT">MTW</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Minitab data file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=NRI&mode=EXT">NRI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0E4E65726F49534F&mode=SIG">0E 4E 65 72 6F 49 53 4F </a></span></td>
            <td width="274">Nero CD compilation</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=NSF&mode=EXT">NSF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A0000040000&mode=SIG">1A 00 00 04 00 00 </a></span></td>
            <td width="274">Lotus Notes database</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=NSF&mode=EXT">NSF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4E45534D1A01&mode=SIG">4E 45 53 4D 1A 01 </a></span></td>
            <td width="274">NES Sound file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=NTF&mode=EXT">NTF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A0000&mode=SIG">1A 00 00 </a></span></td>
            <td width="274">Lotus Notes database template</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=NTF&mode=EXT">NTF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4E49544630&mode=SIG">4E 49 54 46 30 </a></span></td>
            <td width="274">National Imagery Transmission Format file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=NTF&mode=EXT">NTF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=30314F52444E414E&mode=SIG">30 31 4F 52 44 4E 41 4E </a></span></td>
            <td width="274">National Transfer Format Map</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=NVRAM&mode=EXT">NVRAM</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D52564E&mode=SIG">4D 52 56 4E </a></span></td>
            <td width="274">VMware BIOS state file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OBJ&mode=EXT">OBJ</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4C01&mode=SIG">4C 01 </a></span></td>
            <td width="274">MS COFF relocatable object code</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OBJ&mode=EXT">OBJ</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=80&mode=SIG">80 </a></span></td>
            <td width="274">Relocatable object code</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OCX&mode=EXT">OCX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">ActiveX|OLE Custom Control</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ODP&mode=EXT">ODP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">OpenDocument template</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ODT&mode=EXT">ODT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">OpenDocument template</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OGA&mode=EXT">OGA</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4F67675300020000&mode=SIG">4F 67 67 53 00 02 00 00 </a></span></td>
            <td width="274">Ogg Vorbis Codec compressed file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OGG&mode=EXT">OGG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4F67675300020000&mode=SIG">4F 67 67 53 00 02 00 00 </a></span></td>
            <td width="274">Ogg Vorbis Codec compressed file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OGV&mode=EXT">OGV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4F67675300020000&mode=SIG">4F 67 67 53 00 02 00 00 </a></span></td>
            <td width="274">Ogg Vorbis Codec compressed file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OGX&mode=EXT">OGX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4F67675300020000&mode=SIG">4F 67 67 53 00 02 00 00 </a></span></td>
            <td width="274">Ogg Vorbis Codec compressed file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OLB&mode=EXT">OLB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">OLE object library</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ONE&mode=EXT">ONE</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=E4525C7B8CD8A74D&mode=SIG">E4 52 5C 7B 8C D8 A7 4D </a></span></td>
            <td width="274">MS OneNote note</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OPT&mode=EXT">OPT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Developer Studio File Options file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OPT&mode=EXT">OPT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FDFFFFFF20&mode=SIG">FD FF FF FF 20 </a></span></td>
            <td width="274">Developer Studio subheader</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ORG&mode=EXT">ORG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C564D313030&mode=SIG">41 4F 4C 56 4D 31 30 30 </a></span></td>
            <td width="274">AOL personal file cabinet</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=OTT&mode=EXT">OTT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">OpenDocument template</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=P10&mode=EXT">P10</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=64000000&mode=SIG">64 00 00 00 </a></span></td>
            <td width="274">Intel PROset|Wireless Profile</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=PAK&mode=EXT">PAK</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A0B&mode=SIG">1A 0B </a></span></td>
            <td width="274">PAK Compressed archive file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=PAK&mode=EXT">PAK</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5041434B&mode=SIG">50 41 43 4B </a></span></td>
            <td width="274">Quake archive file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=PAT&mode=EXT">PAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=47504154&mode=SIG">47 50 41 54 </a></span></td>
            <td width="274">GIMP pattern file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=PAX&mode=EXT">PAX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504158&mode=SIG">50 41 58 </a></span></td>
            <td width="274">PAX password protected bitmap</td>
          </tr>
                  </table>
      </center>
