     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CFG&mode=EXT">CFG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5B666C7473696D2E&mode=SIG">5B 66 6C 74 73 69 6D 2E </a></span></td>
            <td width="274">Flight Simulator Aircraft Configuration</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CHI&mode=EXT">CHI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=49545346&mode=SIG">49 54 53 46 </a></span></td>
            <td width="274">MS Compiled HTML Help File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CHM&mode=EXT">CHM</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=49545346&mode=SIG">49 54 53 46 </a></span></td>
            <td width="274">MS Compiled HTML Help File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CLASS&mode=EXT">CLASS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=CAFEBABE&mode=SIG">CA FE BA BE </a></span></td>
            <td width="274">Java bytecode</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CLB&mode=EXT">CLB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=434F4D2B&mode=SIG">43 4F 4D 2B </a></span></td>
            <td width="274">COM+ Catalog</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CLB&mode=EXT">CLB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=434D5831&mode=SIG">43 4D 58 31 </a></span></td>
            <td width="274">Corel Binary metafile</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CMX&mode=EXT">CMX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Corel Presentation Exchange metadata</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CNV&mode=EXT">CNV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=53514C4F434F4E56&mode=SIG">53 51 4C 4F 43 4F 4E 56 </a></span></td>
            <td width="274">DB2 conversion file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=COD&mode=EXT">COD</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4E616D653A20&mode=SIG">4E 61 6D 65 3A 20 </a></span></td>
            <td width="274">Agent newsreader character map</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=COM&mode=EXT">COM</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Windows|DOS executable file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=COM&mode=EXT">COM</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=E8&mode=SIG">E8 </a></span></td>
            <td width="274">Windows executable file_1</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=COM&mode=EXT">COM</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=E9&mode=SIG">E9 </a></span></td>
            <td width="274">Windows executable file_2</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=COM&mode=EXT">COM</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=EB&mode=SIG">EB </a></span></td>
            <td width="274">Windows executable file_3</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CPE&mode=EXT">CPE</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=464158434F564552&mode=SIG">46 41 58 43 4F 56 45 52 </a></span></td>
            <td width="274">MS Fax Cover Sheet</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CPI&mode=EXT">CPI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=53494554524F4E49&mode=SIG">53 49 45 54 52 4F 4E 49 </a></span></td>
            <td width="274">Sietronics CPI XRD document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CPI&mode=EXT">CPI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FF464F4E54&mode=SIG">FF 46 4F 4E 54 </a></span></td>
            <td width="274">Windows international code page</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CPL&mode=EXT">CPL</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D5A&mode=SIG">4D 5A </a></span></td>
            <td width="274">Control panel application</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CPL&mode=EXT">CPL</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=DCDC&mode=SIG">DC DC </a></span></td>
            <td width="274">Corel color palette</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CPT&mode=EXT">CPT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4350543746494C45&mode=SIG">43 50 54 37 46 49 4C 45 </a></span></td>
            <td width="274">Corel Photopaint file_1</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CPT&mode=EXT">CPT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=43505446494C45&mode=SIG">43 50 54 46 49 4C 45 </a></span></td>
            <td width="274">Corel Photopaint file_2</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CPX&mode=EXT">CPX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5B57696E646F7773&mode=SIG">5B 57 69 6E 64 6F 77 73 </a></span></td>
            <td width="274">Microsoft Code Page Translation file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CRU&mode=EXT">CRU</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=43525553482076&mode=SIG">43 52 55 53 48 20 76 </a></span></td>
            <td width="274">Crush compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CRW&mode=EXT">CRW</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=49491A0000004845&mode=SIG">49 49 1A 00 00 00 48 45 </a></span></td>
            <td width="274">Canon RAW file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CSH&mode=EXT">CSH</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=6375736800000002&mode=SIG">63 75 73 68 00 00 00 02 </a></span></td>
            <td width="274">Photoshop Custom Shape</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CTF&mode=EXT">CTF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=436174616C6F6720&mode=SIG">43 61 74 61 6C 6F 67 20 </a></span></td>
            <td width="274">WhereIsIt Catalog</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CTL&mode=EXT">CTL</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=56455253494F4E20&mode=SIG">56 45 52 53 49 4F 4E 20 </a></span></td>
            <td width="274">Visual Basic User-defined Control file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CUIX&mode=EXT">CUIX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">Customization files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=CUR&mode=EXT">CUR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=00000200&mode=SIG">00 00 02 00 </a></span></td>
            <td width="274">Windows cursor</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=52494646&mode=SIG">52 49 46 46 </a></span></td>
            <td width="274">Video CD MPEG movie</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=DAT&mode=EXT">DAT</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=A90D000000000000&mode=SIG">A9 0D 00 00 00 00 00 00 </a></span></td>
            <td width="274">Access Data FTK evidence</td>
          </tr>
                  </table>
      </center>
