     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=GZ&mode=EXT">GZ</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1F8B08&mode=SIG">1F 8B 08 </a></span></td>
            <td width="274">GZIP archive file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=HAP&mode=EXT">HAP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=91334846&mode=SIG">91 33 48 46 </a></span></td>
            <td width="274">Hamarsoft compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=HDMP&mode=EXT">HDMP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D444D5093A7&mode=SIG">4D 44 4D 50 93 A7 </a></span></td>
            <td width="274">Windows dump file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=HDR&mode=EXT">HDR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=49536328&mode=SIG">49 53 63 28 </a></span></td>
            <td width="274">Install Shield compressed file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=HDR&mode=EXT">HDR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=233F52414449414E&mode=SIG">23 3F 52 41 44 49 41 4E </a></span></td>
            <td width="274">Radiance High Dynamic Range image file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=hip&mode=EXT">hip</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=48695021&mode=SIG">48 69 50 21 </a></span></td>
            <td width="274">Houdini image file. Three-dimensional modeling and animation</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=HLP&mode=EXT">HLP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0000FFFFFFFF&mode=SIG">00 00 FF FF FF FF </a></span></td>
            <td width="274">Windows Help file_1</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=HLP&mode=EXT">HLP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3F5F0300&mode=SIG">3F 5F 03 00 </a></span></td>
            <td width="274">Windows Help file_2</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=HLP&mode=EXT">HLP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4C4E0200&mode=SIG">4C 4E 02 00 </a></span></td>
            <td width="274">Windows help file_3</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=HQX&mode=EXT">HQX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2854686973206669&mode=SIG">28 54 68 69 73 20 66 69 </a></span></td>
            <td width="274">BinHex 4 Compressed Archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ICO&mode=EXT">ICO</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=00000100&mode=SIG">00 00 01 00 </a></span></td>
            <td width="274">Windows icon|printer spool file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IDX&mode=EXT">IDX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C4442&mode=SIG">41 4F 4C 44 42 </a></span></td>
            <td width="274">AOL user configuration</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IDX&mode=EXT">IDX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IDX&mode=EXT">IDX</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5000000020000000&mode=SIG">50 00 00 00 20 00 00 00 </a></span></td>
            <td width="274">Quicken QuickFinder Information File</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IFO&mode=EXT">IFO</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=445644&mode=SIG">44 56 44 </a></span></td>
            <td width="274">DVD info file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IMG&mode=EXT">IMG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504943540008&mode=SIG">50 49 43 54 00 08 </a></span></td>
            <td width="274">ChromaGraph Graphics Card Bitmap</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IMG&mode=EXT">IMG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=EB3C902A&mode=SIG">EB 3C 90 2A </a></span></td>
            <td width="274">GEM Raster file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IMG&mode=EXT">IMG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=53434D49&mode=SIG">53 43 4D 49 </a></span></td>
            <td width="274">Img Software Bitmap</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IND&mode=EXT">IND</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C494458&mode=SIG">41 4F 4C 49 44 58 </a></span></td>
            <td width="274">AOL client preferences|settings file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IND&mode=EXT">IND</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=414F4C&mode=SIG">41 4F 4C </a></span></td>
            <td width="274">AOL config files</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=INFO&mode=EXT">INFO</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=E310000100000000&mode=SIG">E3 10 00 01 00 00 00 00 </a></span></td>
            <td width="274">Amiga icon</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=INFO&mode=EXT">INFO</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5468697320697320&mode=SIG">54 68 69 73 20 69 73 20 </a></span></td>
            <td width="274">GNU Info Reader file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=INFO&mode=EXT">INFO</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=7A626578&mode=SIG">7A 62 65 78 </a></span></td>
            <td width="274">ZoomBrowser Image Index</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=ISO&mode=EXT">ISO</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4344303031&mode=SIG">43 44 30 30 31 </a></span></td>
            <td width="274">ISO-9660 CD Disc Image</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=IVR&mode=EXT">IVR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=2E524543&mode=SIG">2E 52 45 43 </a></span></td>
            <td width="274">RealPlayer video file (V11+)</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JAR&mode=EXT">JAR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B0304&mode=SIG">50 4B 03 04 </a></span></td>
            <td width="274">Java archive_1</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JAR&mode=EXT">JAR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=5F27A889&mode=SIG">5F 27 A8 89 </a></span></td>
            <td width="274">Jar archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JAR&mode=EXT">JAR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4A4152435300&mode=SIG">4A 41 52 43 53 00 </a></span></td>
            <td width="274">JARCS compressed archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JAR&mode=EXT">JAR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=504B030414000800&mode=SIG">50 4B 03 04 14 00 08 00 </a></span></td>
            <td width="274">Java archive_2</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=JFIF&mode=EXT">JFIF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFD8FFE0&mode=SIG">FF D8 FF E0 </a></span></td>
            <td width="274">JPEG IMAGE</td>
          </tr>
                  </table>
      </center>
