     
      <center>
        <table id="innerTable" cellpadding="5" cellspacing="0">
          <tr>
            <td bgcolor="#666666">&nbsp;</td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=EXT&sort=DESC&alpha=All">Extension</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=SIGNATURE&sort=DESC&alpha=All">Signature</a></td>
            <td bgcolor="#666666"><a href="/index.php?page=all&order=DESCRIPTION&sort=DESC&alpha=All">Description</a></td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MAR&mode=EXT">MAR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D415243&mode=SIG">4D 41 52 43 </a></span></td>
            <td width="274">Microsoft|MSN MARC archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MAR&mode=EXT">MAR</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D41523100&mode=SIG">4D 41 52 31 00 </a></span></td>
            <td width="274">Mozilla archive</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MDB&mode=EXT">MDB</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=000100005374616E64617264204A6574204442&mode=SIG">00 01 00 00 53 74 61 6E 64 61 72 64 20 4A 65 74 20 44 42 </a></span></td>
            <td width="274">Microsoft Access</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MDF&mode=EXT">MDF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=010F0000&mode=SIG">01 0F 00 00 </a></span></td>
            <td width="274">SQL Data Base</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MDI&mode=EXT">MDI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4550&mode=SIG">45 50 </a></span></td>
            <td width="274">MS Document Imaging file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MID&mode=EXT">MID</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D546864&mode=SIG">4D 54 68 64 </a></span></td>
            <td width="274">MIDI sound file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MIDI&mode=EXT">MIDI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D546864&mode=SIG">4D 54 68 64 </a></span></td>
            <td width="274">MIDI sound file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MIF&mode=EXT">MIF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3C4D616B65724669&mode=SIG">3C 4D 61 6B 65 72 46 69 </a></span></td>
            <td width="274">Adobe FrameMaker</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MIF&mode=EXT">MIF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=56657273696F6E20&mode=SIG">56 65 72 73 69 6F 6E 20 </a></span></td>
            <td width="274">MapInfo Interchange Format file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MKV&mode=EXT">MKV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=1A45DFA393428288&mode=SIG">1A 45 DF A3 93 42 82 88 </a></span></td>
            <td width="274">Matroska stream file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MLS&mode=EXT">MLS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D494C4553&mode=SIG">4D 49 4C 45 53 </a></span></td>
            <td width="274">Milestones project management file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MLS&mode=EXT">MLS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D56323134&mode=SIG">4D 56 32 31 34 </a></span></td>
            <td width="274">Milestones project management file_1</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MLS&mode=EXT">MLS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D563243&mode=SIG">4D 56 32 43 </a></span></td>
            <td width="274">Milestones project management file_2</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MLS&mode=EXT">MLS</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D4C5357&mode=SIG">4D 4C 53 57 </a></span></td>
            <td width="274">Skype localization data file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MMF&mode=EXT">MMF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=4D4D4D440000&mode=SIG">4D 4D 4D 44 00 00 </a></span></td>
            <td width="274">Yamaha Synthetic music Mobile Application Format</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MNY&mode=EXT">MNY</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=000100004D534953414D204461746162617365&mode=SIG">00 01 00 00 4D 53 49 53 41 4D 20 44 61 74 61 62 61 73 65 </a></span></td>
            <td width="274">Microsoft Money file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MOF&mode=EXT">MOF</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=FFFE23006C006900&mode=SIG">FF FE 23 00 6C 00 69 00 </a></span></td>
            <td width="274">MSinfo file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=6D6F6F76&mode=SIG">6D 6F 6F 76 </a></span></td>
            <td width="274">QuickTime movie_1</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=66726565&mode=SIG">66 72 65 65 </a></span></td>
            <td width="274">QuickTime movie_2</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=6D646174&mode=SIG">6D 64 61 74 </a></span></td>
            <td width="274">QuickTime movie_3</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=77696465&mode=SIG">77 69 64 65 </a></span></td>
            <td width="274">QuickTime movie_4</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=706E6F74&mode=SIG">70 6E 6F 74 </a></span></td>
            <td width="274">QuickTime movie_5</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MOV&mode=EXT">MOV</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=736B6970&mode=SIG">73 6B 69 70 </a></span></td>
            <td width="274">QuickTime movie_6</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MP&mode=EXT">MP</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=0CED&mode=SIG">0C ED </a></span></td>
            <td width="274">Monochrome Picture TIFF bitmap</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MP3&mode=EXT">MP3</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=494433&mode=SIG">49 44 33 </a></span></td>
            <td width="274">MP3 audio file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MPG&mode=EXT">MPG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=000001BA&mode=SIG">00 00 01 BA </a></span></td>
            <td width="274">DVD video file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MPG&mode=EXT">MPG</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=000001B3&mode=SIG">00 00 01 B3 </a></span></td>
            <td width="274">MPEG video file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MSC&mode=EXT">MSC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Common Console Document</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MSC&mode=EXT">MSC</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=3C3F786D6C2076657273696F6E3D22312E30223F3E0D0A3C4D4D435F436F6E736F6C6546696C6520436F6E736F6C65566572&mode=SIG">3C 3F 78 6D 6C 20 76 65 72 73 69 6F 6E 3D 22 31 2E 30 22 3F 3E 0D 0A 3C 4D 4D 43 5F 43 6F 6E 73 6F 6C 65 46 69 6C 65 20 43 6F 6E 73 6F 6C 65 56 65 72 </a></span></td>
            <td width="274">MMC Snap-in Control file</td>
          </tr>
                    <tr>
            <td width="31">
            
            
            </td>
            <td width="147"><span id = "results"><a href="/index.php?page=search&search=MSI&mode=EXT">MSI</a></span></td>
            <td width="236"><span id = "results"><a href="/index.php?page=search&search=D0CF11E0A1B11AE1&mode=SIG">D0 CF 11 E0 A1 B1 1A E1 </a></span></td>
            <td width="274">Microsoft Installer package</td>
          </tr>
                  </table>
      </center>
